<!DOCTYPE html>
<html>
<head>
    <title>Правила дорожного движения для велосипедистов</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Подробная карта велодорожек и велополос города">
    <meta name="keywords" content="Карта, велодорожки, город, велодорожка, велополоса, велосипед">
    <meta name="author" content="Velojol">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="language" content="Russian">
    <link rel="apple-touch-icon" sizes="180x180" href="static/img/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/img/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/img/fav/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="static/img/fav/safari-pinned-tab.svg" color="#121212">
    <meta name="msapplication-TileColor" content="#121212">
    <meta name="theme-color" content="#121212">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://velojol.kz">
    <meta property="og:title" content="VELOJOL">
    <meta property="og:description" content="Подробная карта велодорожек и велополос города">
    <meta property="og:image" content="static/img/landing/coursemeta.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/typo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flex.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/course.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/banner.css') }}">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2M7C2FWEP4"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-2M7C2FWEP4');
    </script>


    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
     
        ym(95219611, "init", {
             clickmap:true,
             trackLinks:true,
             accurateTrackBounce:true,
             webvisor:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/95219611" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

</head>


<body>

    <!--Course-menu-->
    <div class="course-menu fs">
        <a href="{{ url_for('course') }}" class="button fs">
            
            <img class="theme-icon dark" src="../static/img/icon/left-arrow-white.svg" alt="Go back">
            <img class="theme-icon light" src="../static/img/icon/left-arrow-black.svg" alt="Go back">
            <p class="dark-prime-invert-100">Назад</p>
        </a>

        <hr>

        <span class="column gap2">

            <a href="#one" class="button fs dark-prime-invert-400">
                <p class="dark-prime-invert-100">Где можно ездить?</p>
            </a>

            <a href="#two" class="button fs dark-prime-invert-400">
                <p class="dark-prime-invert-100">Где нельзя ездить?</p>
            </a>

            <a href="#three" class="button fs dark-prime-invert-400">
                <p class="dark-prime-invert-100">Разметка</p>
            </a>

            <a href="#four" class="button fs dark-prime-invert-400">
                <p class="dark-prime-invert-100">Знаки</p>
            </a>

            <a href="#five" class="button fs dark-prime-invert-400">
                <p class="dark-prime-invert-100">Что нельзя делать?</p>
            </a>


        </span>

    </div>

    <!--Navbar-->
    <div class="navbar row bgprime100 aic">
        <a style="position: absolute; left: 16px;" href="{{ url_for('course') }}" class="button fs">
            
            <img class="theme-icon dark" src="../static/img/icon/left-arrow-white.svg" alt="Go back">
            <img class="theme-icon light" src="../static/img/icon/left-arrow-black.svg" alt="Go back">

        </a>

        <p style="margin-left: auto; margin-right: auto;" class="dark-prime-invert-100 center bold">Правила дорожного движения</p>
    </div>

    <main class="course-main">

        <!--Cover-->
        <div class="course-cover bgprime10">

            <!--Badges-->
            <span class="gap8 row">
                <p class="badge_m dark-prime-invert-100 bgprime200">4 урок из 8</p>
                <p class="badge_m dark-prime-invert-100 bgprime200">14 минут на чтение</p>
            </span>
    
            <h1 class="dark-prime-invert-100 mt16 mb8 center">Правила дорожного движения для велосипедистов</h1>
            <p class="dark-prime-invert-200 mb16"></p>
    
            <img src="{{ url_for('static', filename='/img/course/5cover.png') }}" alt="cover">
        </div>

        <h1 class="dark-prime-invert-100 mb16"></h1>

        <p class="p1 dark-prime-invert-100">Вероятно, это самый важный урок в курсе. Когда вы садитесь на велосипед и выезжаете на городские улицы, вы становитесь полноценным участником дорожного движения. Поэтому знание и понимание ПДД для велосипедистов — ключевой аспект этой ответственности своей безопасности и безопасности окружающих.<br><br>В этом уроке мы подробно рассмотрим ПДД для велосипедистов в городских условиях. Вы узнаете о взаимодействии с автомобилями и пешеходами. Мы научимся использовать поворотник, постараемся понимать знаки ДД и применять “пешеходный” поворот.<br><br>После этого урока вы будете чувствовать себя уверенно и безопасно, передвигаясь на велосипеде по городским улицам, и сможете наслаждаться каждой прогулкой, зная, что делаете все возможное для своей безопасности и комфорта.</p>

        <hr>

        <p class="p1 dark-prime-invert-100">Начнем с того, что <b>велосипед - транспортное средство</b>, а это означает, что к нему применяются все основные ПДД и все правила, изложенные в ПДД. Это включает в себя следование сигналам светофоров, соблюдение знаков, указателей, дорожной разметки и сигналов регулировщика.<br><br>Даже если вы решили просто покататься, вас могут ожидать неприятные встречи как с недовольными пешеходами, так и с водителями автомобилей. Разберемся как минимизировать подобные встречи.</p>

        <hr>

        <h3 class="dark-prime-invert-100 mt48 mb24" id="one">Где можно ездить?</h3>
        <p class="p1 dark-prime-invert-100 mt16 mb24">Движение на велосипеде имеет свои особенности. Если доступны <b>велосипедные полосы</b> или <b>дорожки</b>, приоритет следует отдавать им. Различия между типами велодорожек:</p>

        <span class="row gap24 mb16 li-callout">
            <span class="column gap4">
                <p class="p1 dark-prime-invert-100 mt24"><b>Велодорожка</b></p>
                <p class="p1 dark-prime-invert-100">Полностью отдельная от основной дороги и тротуара</p>
            </span>
            <img class="mt8" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2F14ab63df-2547-4af8-9922-bc0c21f1b5d1%2FUntitled.png?table=block&id=15104ff1-4f29-4c9a-93b0-6cea95d0243b&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=580&userId=&cache=v2">
        </span>

        <span class="row gap24 mb16 li-callout">


            <span class="column gap4">
                <p class="p1 dark-prime-invert-100 mt24"><b>Велопешеходная дорожка</b></p>
                <p class="p1 dark-prime-invert-100">Тротуар, предназначенный как для велосипедистов, так и для пешеходов</p>
            </span>

            <img class="mt8" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2Fabb76f70-7611-44aa-b4a5-336804f4b456%2FUntitled.png?table=block&id=3ce273f9-0fbe-4446-9e80-d7b6dbb83df5&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=380&userId=&cache=v2">
        </span>

        <span class="row gap24 mb16 li-callout">
            <span class="column gap4">
                <p class="p1 dark-prime-invert-100 mt24"><b>Велополоса</b></p>
                <p class="p1 dark-prime-invert-100">Часть дороги, выделенная специальной разметкой</p>
            </span>
            <img class="mt8" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2F61fab08c-26c1-4a8c-a045-0a990e3ae30a%2FUntitled.png?table=block&id=aaf246ae-e887-4ec3-bbe2-799c6c87724d&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=380&userId=&cache=v2">
        </span>

        <span class="row gap24 mb16 li-callout">
            
            <span class="column gap4">
            <p class="p1 dark-prime-invert-100 mt24"><b>Велозона</b></p>
            <p class="p1 dark-prime-invert-100">Дорога для велосипедов и автомобилей, где у велосипедистов преимущество</p>
            </span>
            <img class="mt8" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2F0b70a563-cebb-4eaa-99ba-256a60213057%2FUntitled.png?table=block&id=5b58b276-6f88-49cf-bbb5-db6006a9d103&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=480&userId=&cache=v2">
        </span>

        <p class="p1 dark-prime-invert-100">Если специальной велоинфраструктуры нет, двигайтесь <b>по правому краю дороги.</b> Однако в определенных ситуациях (широкий велосипед, наличие прицепа, езда в группе) вам может быть разрешено двигаться и по другим частям дорожного полотна. Если дорожные условия требуют или нет другой дороги, вы можете использовать <b>тротуар или пешеходную дорожку</b>.</p>

        <span class="row gap24 mt24 mb16 li-callout" style="flex-direction: column !important;">
            <p class="p1 dark-prime-invert-100">Если <b>полоса для общественного транспорта расположена справа</b>, велосипедисты могут ею пользоваться. На такую полосу указывают определенные дорожные знаки. Если есть какие-то другие знаки для общественного транспорта, то велосипедистам туда нельзя.</p>

            <img class="mt8" style=" width:100%; border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2F44d46e8d-c43b-41a1-9da4-97dcf97e12b8%2FUntitled.png?table=block&id=574a0727-027d-4f7d-8bfd-db082df739ef&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=2000&userId=&cache=v2">
        </span>
        
        <span class="row gap24 li-callout">         
            <p class="p1 dark-prime-invert-100">А данный знак позволяет ехать под любым знаком и даже по встречке на полосе общественного транспорта</p>
            <img class="mt8" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2F72742ea4-2b67-479e-88ef-d8a65673ffb4%2FUntitled.png?table=block&id=7df35db3-bb21-40f4-a1ee-643851eb048f&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=480&userId=&cache=v2">
        </span>



        <hr>
        <h3 class="h3 dark-prime-invert-100 mt48 mb16" id="two">Эти данные знаки запрещают движение на велосипеде:</h3>

        <div class="cards-grid-2 mt16">
            <span class="gap24 li-callout" style="flex-direction: column !important;">         
                <p class="p1 dark-prime-invert-100"><b>Знак Автомагистраль</b><br><br>
                    На автобане движение на велосипеде <b class="red">строго запрещено!</b></p>
                <img class="mt8 course-img-bike" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2F6f44105d-d45f-45ea-afcf-e55017a4dd45%2FUntitled.png?table=block&id=de4eecf8-23e5-4b3b-a5ee-700fda975f19&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=480&userId=&cache=v2">
            </span>

            <span class="gap24 li-callout" style="flex-direction: column !important;">         
                <p class="p1 dark-prime-invert-100"><b>Знак дорога для автомобилей</b><br><br><b class="red">Сюда на велосипеде запрещено</b></p>
                <img class="mt8 course-img-bike" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2F1175154f-8cab-44f7-b598-0ed113e091b7%2FUntitled.png?table=block&id=5ac4822c-5e28-4e72-a305-6c55f5ef1fba&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=380&userId=&cache=v2">
            </span>
        </div>

        <hr>

        <h3 class="dark-prime-invert-100 mt48 mb24" id="three">Разметка</h3>
        <p class="p1 dark-prime-invert-100">Для велосипедиста важно не только знать, но и понимать указания разметки дороги. Понимание разметки помогает предсказать возможные опасности и реагировать на них заблаговременно. Знание этих аспектов способствует гармоничному включению в общий поток движения, снижает риск аварий и способствует более плавному и эффективному передвижению в городской среде. Несоблюдение разметки дороги увеличивает риск аварий и нарушения правил, повлекая за собой штрафы и неудобства для других участников движения</p>

        <div class="cards-grid-2 mt16">

            <span class="gap24 li-callout" style="flex-direction: column !important;">         
                <p class="p1 dark-prime-invert-100"><b>Сплошная линия</b><br><br>Запрещено пересекать и выезжать на встречную полосу</p>
                <img class="mt8 course-img-bike" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2F1542b0db-4be7-404f-a4f3-db5429b59fe9%2FUntitled.png?table=block&id=09363b2b-9084-4098-876e-394f079adaf8&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=800&userId=&cache=v2">
            </span>

            <span class="gap24 li-callout" style="flex-direction: column !important;">
                <p class="p1 dark-prime-invert-100"><b>Двойная сплошная линия</b><br><br>Пересечение запрещено</p>
                <img class="mt8 course-img-bike" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2Ffa66974d-d002-48bc-b326-4fbfcaeac4df%2FUntitled.png?table=block&id=3fb83e46-bc55-4b16-a41f-b10d9c77524d&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=800&userId=&cache=v2">
            </span>

            <span class="gap24 li-callout" style="flex-direction: column !important;">         
                <p class="p1 dark-prime-invert-100"><b>Прерывистые линии</b><br><br>РМожно пересекать с любой стороны. Можно менять полосу движения, пересекая прерывистые линии, чтобы совершать повороты или обгонять других участников движения</p>
                <img class="mt8 course-img-bike" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2F57855472-e9e8-4517-84ad-a4a4d09b2934%2FUntitled.png?table=block&id=4245515d-bacb-4929-9789-f7940ceebec6&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=800&userId=&cache=v2">
            </span>

            <span class="gap24 li-callout" style="flex-direction: column !important;">         
                <p class="p1 dark-prime-invert-100"><b>Сплошная и прерывистая линия</b><br><br>Разрешается пересекать со стороны прерывистой, а также со стороны сплошной при завершении объезда</p>
                <img class="mt8 course-img-bike" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2Fc0930552-6d77-4fcf-a0b1-ddbfb7b38cec%2FUntitled.png?table=block&id=c8bb3666-6020-4354-ba91-abd2590eefe5&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=800&userId=&cache=v2">
            </span>

            <span class="gap24 li-callout" style="flex-direction: column !important;">         
                <p class="p1 dark-prime-invert-100"><b>Стоп-линия</b><br><br>Велосипедисты также должны соблюдать стоп-линию и останавливаться перед ней</p>
                <img class="mt8 course-img-bike" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2Fc67d6236-91e6-43d3-9a3d-4741cab18fc8%2FUntitled.png?table=block&id=483d34fe-2ca3-45e6-9d67-67abd4a58711&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=800&userId=&cache=v2">
            </span>

            <span class="gap24 li-callout" style="flex-direction: column !important;">         
                <p class="p1 dark-prime-invert-100"><b>Уступи дорогу</b><br><br> Велосипедист должен остановиться у знака и дождаться свободного пути</p>
                <img class="mt8 course-img-bike" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2Feb57e03b-dbd8-4668-af0e-fc46efd5b804%2FUntitled.png?table=block&id=2f1c4de4-b8b3-4bb7-89e7-73d571ff178d&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=800&userId=&cache=v2">
            </span>

            <span class="gap24 li-callout" style="flex-direction: column !important;">         
                <p class="p1 dark-prime-invert-100"><b>"Зебра"</b><br><br>Велосипедист обязан уступать дорогу пешеходам на пешеходных переходах с разметкой "зебра" и соблюдать правила остановки, чтобы обеспечить безопасность пешеходов</p>
                <img class="mt8 course-img-bike" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2F9534ee9a-1e54-403e-a1a9-fcd2d979b771%2FUntitled.png?table=block&id=70e4477e-f449-4ed2-ae72-295246bae3a4&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=290&userId=&cache=v2">
            </span>

            <span class="gap24 li-callout" style="flex-direction: column !important;">         
                <p class="p1 dark-prime-invert-100"><b>Велосипедная дорожка</b><br><br>Используйте велосипедную дорожку, если она доступна</p>
                <img class="mt8 course-img-bike" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2F84289ae1-0380-44ec-a36e-0bee7e1e5c47%2FUntitled.png?table=block&id=84928fb9-2512-4e02-8f26-277d82d46b0a&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=290&userId=&cache=v2">
            </span>
        </div>

        <h3 class="dark-prime-invert-100 mt48 mb24" id="four">Знаки</h3>

        <p class="p1 dark-prime-invert-100">Знание дорожных знаков позволяет правильно интерпретировать дорожную обстановку и делать правильные решения на дороге. Они позволяют принимать обоснованные решения, эффективно взаимодействовать с другими участниками движения и выбирать оптимальные маршруты, избегая запрещенных участков и экономя время и усилия. Соблюдение указаний знаков способствует предотвращению аварий, обеспечивает беспроблемное передвижение и повышает общую безопасность на дороге.</p>

        <p class="p1 dark-prime-invert-100 mt48"><b>Запрещающие знаки</b><br>Указывают на запрещенные действия или ограничения</p>
        <div class="cards-grid-2 mt16 mb24">
            <span class="gap24 li-callout" style="flex-direction: column !important;">         
                <p class="p1 dark-prime-invert-100"><b>Кирпич</b><br><br>Знак ограничивает доступ на определенную территорию для всех ТС. Можно попробовать спешиться и пройти так</p>
                <img class="mt8 course-img-bike" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2F33bb6ed0-bc12-498c-8e6b-2a42c620840d%2FUntitled.png?table=block&id=f5face27-9197-4d61-80a6-60aed8e6c226&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=480&userId=&cache=v2">
            </span>

            <span class="gap24 li-callout" style="flex-direction: column !important;">         
                <p class="p1 dark-prime-invert-100"><b>Движение на велосипеде запрещено</b><br><br>Однако разрешено провозить велосипед рядом с собой</p>
                <img class="mt8 course-img-bike" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fall-t-shirts.ru%2Fgoods_images%2F1721%2F1884%2Fru106145%2Fru106145II000e980e8701cc4c2af250979656e4d78d1.jpg?table=block&id=a31587c3-08a3-43a2-a220-dc7f46b963f3&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=480&userId=&cache=v2">
            </span>

            <span class="gap24 li-callout" style="flex-direction: column !important;">         
                <p class="p1 dark-prime-invert-100"><b>Поворот запрещен</b><br><br>Часто это указывает на то, что поворот ведет на одностороннюю улицу</p>
                <img class="mt8 course-img-bike" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2F7ac259bb-ad82-43a1-ae2c-76b49c680b0b%2FUntitled.png?table=block&id=bb5a4a4d-e2ca-46e1-912e-234613fc1ee8&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=380&userId=&cache=v2">
            </span>

            <span class="gap24 li-callout" style="flex-direction: column !important;">         
                <p class="p1 dark-prime-invert-100"><b>Движение запрещено. </b>Лучше перейти на тротуар.
                </b><br><br>Часто это указывает на то, что поворот ведет на одностороннюю улицу</p>
                <img class="mt8 course-img-bike" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2F42e5f842-8cd7-41a7-aae8-08e5a36c60a3%2FUntitled.png?table=block&id=1629ba5e-b798-42e6-b7dc-3277c257fed2&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=380&userId=&cache=v2">
            </span>
        </div>

        <p class="p1 dark-prime-invert-100 mt48"><b>Знаки приоритета</b><br>Устанавливают порядок проезда на перекрестках или участках дороги</p>
        <div class="cards-grid-2 mt16 mb24">
            <span class="gap24 li-callout" style="flex-direction: column !important;">         
                <p class="p1 dark-prime-invert-100"><b>Главная дорога.</b><br>Вы едете, и вас все пропускают. Смотрите по сторонам, чтобы избежать столкновений с невнимательными водителями</p>
                <img class="mt8 course-img-bike" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2F1a4ba354-4f55-4b3d-9a19-af5b38ecbb44%2FUntitled.png?table=block&id=c2abcdb0-66c6-4f48-b6cc-cb632f817a78&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=380&userId=&cache=v2">
            </span>

            <span class="gap24 li-callout" style="flex-direction: column !important;">         
                <p class="p1 dark-prime-invert-100"><b>Конец главной дороги</b> 
                </p>
                <img class="mt8 course-img-bike" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2Fc41ce6b1-3b61-47ff-a9e9-283453e80cc6%2FUntitled.png?table=block&id=5f938aba-b69e-4ab3-8661-c6e533ce1824&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=480&userId=&cache=v2">
            </span>

            <span class="gap24 li-callout" style="flex-direction: column !important;">         
                <p class="p1 dark-prime-invert-100"><b>Знак Стоп.</b><br><br>Ставят на опасных перекрёстках, где нужно остановиться и оглядеться</p>
                <img class="mt8 course-img-bike" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2Fb856793c-85bd-4ff8-b20b-acc7adf6cee2%2FUntitled.png?table=block&id=4576b594-f58c-48f2-b88e-5a230ed620f9&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=480&userId=&cache=v2">
            </span>

            <span class="gap24 li-callout" style="flex-direction: column !important;">         
                <p class="p1 dark-prime-invert-100"><b>Уступи дорогу</b>Теперь другие едут, а вы их ждёте, чтобы выехать.</p>
                <img class="mt8 course-img-bike" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2F8b7a0288-3737-4210-974c-4d5db7252f3c%2FUntitled.png?table=block&id=65c1938e-58d2-46d2-80cd-7bdec0122afd&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=290&userId=&cache=v2">
            </span>
        </div>  

        <p class="p1 dark-prime-invert-100 mt48"><b>Предписывающие знаки</b><br>Обязывают водителей (и велосипедистов) выполнять определенные действия</p>

        <div class="cards-grid-2 mt16 mb24">
            <span class="gap24 li-callout" style="flex-direction: column !important;">         
                <p class="p1 dark-prime-invert-100"><b>Движение прямо.</b><br>То есть повороты запрещены</p>
                <img class="mt8 course-img-bike" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2F121d154a-4349-4518-a234-80a4437fd626%2FUntitled.png?table=block&id=9d901793-c236-480e-b6cf-ac86ed87207c&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=580&userId=&cache=v2">
            </span>

            <span class="gap24 li-callout" style="flex-direction: column !important;">         
                <p class="p1 dark-prime-invert-100"><b>Движение направо</b>Можно только повернуть: продолжать ехать прямо нельзя 
                </p>
                <img class="mt8 course-img-bike" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2Fc59c66f7-452e-4b43-bdd5-40beb5464f5c%2FUntitled.png?table=block&id=78dd7dbf-7668-4496-bb75-fd7b9724fd00&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=480&userId=&cache=v2">
            </span>

            <span class="gap24 li-callout" style="flex-direction: column !important;">         
                <p class="p1 dark-prime-invert-100"><b>Движение прямо и направо.</b><br><br>Разрешённое направление движения: можно только в две стороны.</p>
                <img class="mt8 course-img-bike" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2F15cba629-bb05-473d-97f1-a69e43264978%2FUntitled.png?table=block&id=b083c4b6-0746-445d-a405-192d025ebcee&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=480&userId=&cache=v2">
            </span>

            <span class="gap24 li-callout" style="flex-direction: column !important;">         
                <p class="p1 dark-prime-invert-100"><b>УДвижение налево и направо.</b>Показывает, куда разрешено ехать: прямо нельзя, только поворачивать.</p>
                <img class="mt8 course-img-bike" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2Fa1f8e0c8-43e9-4f33-94ad-f1bfabc8ad71%2FUntitled.png?table=block&id=880d3df7-897a-41f2-a653-629fcc9c54a0&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=480&userId=&cache=v2">
            </span>
        </div>

        <span class="gap24 li-callout" style="flex-direction: column !important;">         
            <p class="p1 dark-prime-invert-100"><b>Объезд препятствия.</b>Ремонтные работы, опоры мостов, пешеходные островки. Объезжать их можно только с той стороны, куда указывает стрелка. </p>
            <img class="mt8" style=" width:100%;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2F6e41a5aa-c608-4a55-856b-ff8ccc0ae7e3%2FUntitled.png?table=block&id=78c8e6cc-cf74-4db5-8a9d-fc13e4f7be34&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=960&userId=&cache=v2">
        </span>

        <p class="p1 dark-prime-invert-100 mt48"><b>Знаки особых предписаний</b><br>Указывают на определенные обстоятельства или условия на участке дороги.</p>
        <div class="cards-grid-2 mt16 mb24">
            <span class="gap24 li-callout" style="flex-direction: column !important;">         
                <p class="p1 dark-prime-invert-100"><b>Направление движения по полосам.</b><br>Обычно нас интересует правый ряд.</p>
                <img class="mt8 course-img-bike" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2Ffb41113b-440e-4063-8535-0c6762fb13e9%2FUntitled.png?table=block&id=acfd4107-8664-4c7e-ae05-fcff00c1ba6a&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=580&userId=&cache=v2">
            </span>

            <span class="gap24 li-callout" style="flex-direction: column !important;">         
                <p class="p1 dark-prime-invert-100">Выезд на дорогу с односторонним движением. 
                </p>
                <img class="mt8 course-img-bike" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fduin.ru%2Fimages%2Fpdd-znaki%2Fznak-page%2F5-7.jpg?table=block&id=fa3d04fc-6b0d-4ec5-bd34-3df1850c0b58&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=480&userId=&cache=v2">
            </span>

            <span class="gap24 li-callout" style="flex-direction: column !important;">         
                <p class="p1 dark-prime-invert-100"><b>Тупик.</b><br><br>Для машин проезда нет, а для велосипедиста может найтись, и искать его не запрещено.</p>
                <img class="mt8 course-img-bike" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2Fba4dd934-4fb9-4cf6-87ba-5a91289c9fd5%2FUntitled.png?table=block&id=b6eba395-3792-4c64-a0e5-17df1e56ed64&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=380&userId=&cache=v2">
            </span>

            <span class="gap24 li-callout" style="flex-direction: column !important;">         
                <p class="p1 dark-prime-invert-100"><b>Одностороннее движение.</b>Все едут только в одном направлении. Когда перечёркнут — это отмена знака, то есть конец одностороннего движения.</p>
                <img class="mt8 course-img-bike" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2F42053893-e81a-476a-ac34-c2d35add2374%2FUntitled.png?table=block&id=72f1d907-2a31-402e-9272-7af4f1da51d8&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=380&userId=&cache=v2">
            </span>

            <span class="gap24 li-callout" style="flex-direction: column !important;">         
                <p class="p1 dark-prime-invert-100"><b>Пешеходная зона и конец пешеходной зоны.</b>Если нет велоинфраструктуры или дороги рядом — можно на велосипеде.</p>
                <img class="mt8 course-img-bike" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2Fefc47316-2871-4530-8b04-d5205e6138ea%2FUntitled.png?table=block&id=5a8e0f5d-3581-4105-976f-9af2c06e3330&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=580&userId=&cache=v2">
            </span>

            <span class="gap24 li-callout" style="flex-direction: column !important;">         
                <p class="p1 dark-prime-invert-100"><b>Велосипедная зона и конец велосипедной зоны.</b>Лучшее место для движения на велосипеде. 
                </p>
                <img class="mt8 course-img-bike" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2F8d943bc6-471e-4a61-8d2c-bf72459e8077%2FUntitled.png?table=block&id=7d9bf725-8b2a-4811-bdca-8ae730b89143&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=580&userId=&cache=v2">
            </span>
        </div>

        

        <p class="p1 dark-prime-invert-100 mt48"><b>Предупреждающие</b><br>Сообщают об опасных участках дороги.</p>
        <div class="cards-grid-2 mt16 mb24">
            <span class="gap24 li-callout" style="flex-direction: column !important;">         
                <p class="p1 dark-prime-invert-100"><b>Выезд велосипедистов. </b><br>Знак предназначен для оповещения  о наличии велосипедистов впереди.</p>
                <img class="mt8 course-img-bike" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2F2f47870f-d4f0-4592-92a1-e64fa8bb524f%2FUntitled.png?table=block&id=5eabc5ab-090f-4875-885b-22fa7564e2c8&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=380&userId=&cache=v2">
            </span>

            <span class="gap24 li-callout" style="flex-direction: column !important;">         
                <p class="p1 dark-prime-invert-100"><b>Неровная дорога.</b> <br>
                    Лежачий полицейский. Лучше снизить скорость, чтобы не упасть и не покалечиться. </p>
                <img class="mt8 course-img-bike" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2Fceddd04a-50df-4f60-804a-3bdda10eb79d%2FUntitled.png?table=block&id=e86abfa8-f733-4eed-88e2-1cc00d59a8f1&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=480&userId=&cache=v2">
            </span>

            <span class="gap24 li-callout" style="flex-direction: column !important;">         
                <p class="p1 dark-prime-invert-100"><b>Опасный поворот.</b><br><br>Нужно снизить скорость и обратить внимание участку дороги, так как поворот может быть крутым, узким или иметь другие особенности, которые могут повысить риск ДТП.</p>
                <img class="mt8 course-img-bike" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2F2b836a3c-06d7-4a65-b651-ad3e46d7e52f%2FUntitled.png?table=block&id=7ea63992-9736-4265-861f-d9baf46d4e1a&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=480&userId=&cache=v2">
            </span>

            <span class="gap24 li-callout" style="flex-direction: column !important;">         
                <p class="p1 dark-prime-invert-100"><b>Сужение дороги.</b>Если вы находитесь близко к другим участникам движения, то лучше уступите дорогу, чтобы не оказаться сдавленными между транспортом и тротуаром.</p>
                <img class="mt8 course-img-bike" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2Faa9e6e7c-a63d-4a0d-9c5d-f495632462fd%2FUntitled.png?table=block&id=66638108-485f-41c9-bd82-74aa1fd49020&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=480&userId=&cache=v2">
            </span>

            <span class="gap24 li-callout" style="flex-direction: column !important;">         
                <p class="p1 dark-prime-invert-100"><b>Пересечения с круговым движением.</b>Автомобили могут появляться со всех сторон, и правила для велосипедистов могут быть не всегда ясны. Если вы не чувствуете себя уверенно, то лучше перейти на тротуар.  
                </p>
                <img class="mt8 course-img-bike" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2Fffc14498-e831-460d-a6a3-8022cf800f37%2FUntitled.png?table=block&id=185a0bf9-6ea8-49d5-8018-0eda116ecfc6&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=480&userId=&cache=v2">
            </span>

            <span class="gap24 li-callout" style="flex-direction: column !important;">         
                <p class="p1 dark-prime-invert-100"><b>Пересечение равнозначных дорог.</b>Работает правило помехи справа. Приоритет-у тех, кто справа, а кто слева уступает.
                </p>
                <img class="mt8 course-img-bike" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2F0ad6c1f0-2902-4743-95bc-660cccdd159d%2FUntitled.png?table=block&id=978828b0-2276-4d52-a39a-aabf2076dca6&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=480&userId=&cache=v2">
            </span>
        </div>

        <p class="p1 dark-prime-invert-100 mt48"><b>Знаки дополнительной информации (таблички)</b><br>Уточняют или дополняют информацию, представленную на основных знаках.</p>
        <div class="cards-grid-2 mt16 mb24">
            <span class="gap24 li-callout" style="flex-direction: column !important;">         
                <p class="p1 dark-prime-invert-100">Например, конец главной дороги через 300 метров.</p>
                <img class="mt8 course-img-bike" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2Fe122bfa7-8865-4d9a-b264-371bc73dbcde%2FUntitled.png?table=block&id=9af115e9-4a27-480c-8b75-d259bc149ae4&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=1140&userId=&cache=v2">
            </span>

            <span class="gap24 li-callout" style="flex-direction: column !important;">         
                <p class="p1 dark-prime-invert-100">Например, Неровная дорога следующие 100 метров.</p>
                <img class="mt8 course-img-bike" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2Feccc2268-f3dc-4a44-bf24-e84e51b1b010%2FUntitled.png?table=block&id=cfbff5de-43ab-447e-905d-216002337c5a&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=1140&userId=&cache=v2">
            </span>

            <span class="gap24 li-callout" style="flex-direction: column !important;">         
                <p class="p1 dark-prime-invert-100">Указывает полосу, к которой относится знак или светофор.</p>
                <img class="mt8 course-img-bike" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2Fcc6a4d06-8b85-459d-bef5-d3561df6a77b%2FUntitled.png?table=block&id=fdd4ddfb-639a-4d20-a17e-4c35e879804d&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=1140&userId=&cache=v2">
            </span>

            <span class="gap24 li-callout" style="flex-direction: column !important;">         
                <p class="p1 dark-prime-invert-100"><b>Направление главной дороги.</b><br>Это не знак, а табличка, но она нам важна. Линии обозначают дороги: двигаетесь по «жирной» — вам уступают, по тонкой — уступаете вы. В обоих случаях убедитесь, что вы с водителем друг друга увидели.</p>
                <img class="mt8 course-img-bike" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2F03be72b4-7204-4521-a733-f27ac15b5992%2FUntitled.png?table=block&id=6549be7b-0219-43d7-940f-57446b90fdc2&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=380&userId=&cache=v2">
            </span>

            <span class="gap24 li-callout" style="flex-direction: column !important;">         
                <p class="p1 dark-prime-invert-100">Например, в сочетании с Р — это парковка для велосипедов.</p>
                <img class="mt8 course-img-bike" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2Ffb2d128b-ef65-43e5-b681-60cbe5423ed5%2FUntitled.png?table=block&id=a6950066-1d18-48e4-9a07-8b75e84c153c&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=1200&userId=&cache=v2">
            </span>

            <span class="gap24 li-callout" style="flex-direction: column !important;">         
                <p class="p1 dark-prime-invert-100">«Движение запрещено» + табличка «Кроме 🚲». Это означает, что велосипедистам разрешено проезжать, даже если на этом участке дороги действуют другие ограничения.</p>
                <img class="mt8 course-img-bike" style=" width:100%; max-width:290px;border-radius: 16px;" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2F86698d5d-7cd4-46e9-bd5c-36a054f1b58e%2FUntitled.png?table=block&id=429fd958-49f0-48dd-838a-4610307f630d&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=800&userId=&cache=v2">
            </span>

        </div>

        <hr>

        <h3 class="h3 dark-prime-invert-100 mt48 mb16" id="five">Что нельзя делать велосипедистам?</h3>
        <p class="p1 dark-prime-invert-100 mb8"><b>Запреты для велосипедистов в ПДД</b></p>
        <p class="p1 dark-prime-invert-100 mb24">В ПДД прописаны определенные запреты для велосипедистов. Они созданы для обеспечения безопасности на дорогах, и несоблюдение может привести к штрафам. Вот некоторые из них:</p>

        <div class="cards-grid-2 mt16 mb24">
            <span class="gap24 li-callout">
                <p class="p1 dark-prime-invert-100"><b>Повороты и развороты.</b>На дорогах с несколькими полосами или трамвайными путями поворачивать налево или делать разворот запрещено. Вместо этого лучше перейти дорогу пешком или выполнить "пешеходный поворот".</p>
            </span>

            <span class="gap24 li-callout">
                <p class="p1 dark-prime-invert-100"><b>Проезжая часть.</b>Запрещено двигаться по центру проезжей части и по встречной полосе движения. Также нельзя двигаться по правому краю автодороги, если рядом есть велосипедные полосы или велодорожки.</p>
            </span>

            <span class="gap24 li-callout">
                <p class="p1 dark-prime-invert-100"><b>Пересечение пешеходного перехода.</b> При проезде пешеходного перехода следует спешиться и пересекать его пешком.</p>
            </span>

            <span class="gap24 li-callout">
                <p class="p1 dark-prime-invert-100"><b>Перевозка детей.</b>Детей до 7 лет можно перевозить только с использованием специализированного оборудования, такого как детские сиденья или прицепы.</p>
            </span>

            <span class="gap24 li-callout">
                <p class="p1 dark-prime-invert-100"><b>Обгон.</b>Запрещено совершать обгон слева.</p>
            </span>

            <span class="gap24 li-callout">
                <p class="p1 dark-prime-invert-100"><b>Пассажиры.</b>Не берите пассажиров, если ваш велосипед не предназначен для этого.</p>
            </span>

            <span class="gap24 li-callout">
                <p class="p1 dark-prime-invert-100"><b>Буксировка.</b>Запрещена буксировка других ТС, если ваше транспортное средство не предназначено для этого. Например, мопед не может буксировать велосипед, но велосипед с велоколяской может быть использован для перевозки пассажиров или грузов.</p>
            </span>

            <span class="gap24 li-callout">
                <p class="p1 dark-prime-invert-100"><b>Неисправный велосипед.</b>Запрещено движение на неисправном велосипеде, особенно если у него отсутствуют или не работают тормоза, а также при неисправной рулевой системе. Также обязательно наличие катафотов или светоотражающих элементов.</p>
            </span>

            <span class="gap24 li-callout">
                <p class="p1 dark-prime-invert-100"><b>Грузоперевозки.</b>Груз не должен мешать управлению велосипедом или выступать за его границы на 50 см или более.</p>
            </span>

            <span class="gap24 li-callout">
                <p class="p1 dark-prime-invert-100"><b>Управление.</b>Держитесь за руль хотя бы одной рукой, но лучше обеими.</p>
            </span>

            <span class="gap24 li-callout">
                <p class="p1 dark-prime-invert-100"><b>Ограничения по дорогам.</b>Езда на автомагистралях и дорогах, предназначенных исключительно для автомобилей, запрещена.</p>
            </span>

        </div>

        <p class="p1 dark-prime-invert-100">Знание ПДД так важно, потому что это ключ к безопасности на дорогах и способ предотвратить аварии и конфликты. Когда водители и другие участники движения знают и следуют правилам, это обеспечивает более эффективное движение. Общее соблюдение дорожных знаков делает движение более предсказуемым, что способствует поддержанию порядка на дорогах.</p>
    
        <!--Next lessons-->
        <div class="next-lesson bgprimeinvert300 row">
            <span class="column" style="width: 100%;">
                <p style="text-transform: uppercase;" class="p1 dark-prime-50">СЛЕДУЮЩИЙ УРОК</p>
                <h4 class="dark-prime-100 mt8 mb16">Взаймодествие на дороге</h4>
                <a href="https://velojol.kz/index.wsgi/course/road-interaction" style="max-width: 150px;" class="button bgprime100 center"><p class="p1 dark-prime-invert-100">Перейти</p>

                    <img class="theme-icon dark" src="../static/img/icon/arrow-right-white.svg" alt="Go back">
                    <img class="theme-icon light" src="../static/img/icon/arrow-right-black.svg" alt="Go back">
                </a>
            </span>

            <img style="width: 115px; height: 115px; object-fit: contain;" src="{{ url_for('static', filename='/img/course/id-6.png') }}" alt="next-cover">
        </div> 
    </main>

    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
</body>
    
</html>