<!DOCTYPE html>
<html>
<head>
    <title>Основы технического обслуживания</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Подробная карта велодорожек и велополос города">
    <meta name="keywords" content="Карта, велодорожки, город, велодорожка, велополоса, велосипед">
    <meta name="author" content="Velojol">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="language" content="Russian">
    <link rel="apple-touch-icon" sizes="180x180" href="static/img/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/img/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/img/fav/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="static/img/fav/safari-pinned-tab.svg" color="#121212">
    <meta name="msapplication-TileColor" content="#121212">
    <meta name="theme-color" content="#121212">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://velojol.kz">
    <meta property="og:title" content="VELOJOL">
    <meta property="og:description" content="Подробная карта велодорожек и велополос города">
    <meta property="og:image" content="static/img/landing/coursemeta.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/typo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flex.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/course.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/banner.css') }}">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2M7C2FWEP4"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-2M7C2FWEP4');
    </script>


    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
     
        ym(95219611, "init", {
             clickmap:true,
             trackLinks:true,
             accurateTrackBounce:true,
             webvisor:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/95219611" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

</head>


<body>
    <!--Course-menu-->
    <div class="course-menu fs">
        <a href="{{ url_for('course') }}" class="button fs">
            
            <img class="theme-icon dark" src="../static/img/icon/left-arrow-white.svg" alt="Go back">
            <img class="theme-icon light" src="../static/img/icon/left-arrow-black.svg" alt="Go back">
            <p class="dark-prime-invert-100">Назад</p>
        </a>

        <hr>

        <span class="column gap2">

            <a href="#one" class="button fs dark-prime-invert-400">
                <p class="staticwhite100">Разбираем велосипед</p>
            </a>

            <a href="#two" class="button fs dark-prime-invert-400">
                <p class="staticwhite100">Регулировка велосипеда</p>
            </a>

            <a href="#three" class="button fs dark-prime-invert-400">
                <p class="staticwhite100">Обслуживание велосипеда</p>
            </a>

            <a href="#four" class="button fs dark-prime-invert-400">
                <p class="staticwhite100">Сумка велосипедиста</p>
            </a>


        </span>

    </div>

    <!--Navbar-->
    <div class="navbar row bgprime100 aic">
        <a style="position: absolute; left: 16px;" href="{{ url_for('course') }}" class="button fs">
            
            <img class="theme-icon dark" src="../static/img/icon/left-arrow-white.svg" alt="Go back">
            <img class="theme-icon light" src="../static/img/icon/left-arrow-black.svg" alt="Go back">

        </a>

        <p style="margin-left: auto; margin-right: auto;" class="dark-prime-invert-100 center bold">Техническое обслуживание</p>
    </div>

    <main class="course-main">
        <!--Cover-->
        <div class="course-cover bgprime10">

            <!--Badges-->
            <span class="gap8 row">
                <p class="badge_m dark-prime-invert-100 bgprime200">2 урок из 8</p>
                <p class="badge_m dark-prime-invert-100 bgprime200">11 минут на чтение</p>
            </span>
    
            <h1 class="dark-prime-invert-100 mt16 mb8 center">Основы технического обслуживания</h1>
    
            <img src="{{ url_for('static', filename='/img/course/3cover.png') }}" alt="cover">
            </div>

        <p class="p1 dark-prime-invert-100">Кататься на велосипеде – удовольствие и польза, но для того чтобы ваше путешествие было комфортным и безопасным, необходимо уделять внимание техническому состоянию вашего двухколесного друга. Велосипед, как и любой другой транспорт, требует регулярного ухода и обслуживания.

        <br><br>Подгонка велосипеда под свои анатомические особенности и стиль катания позволит вам добиться максимальной эффективности и комфорта во время поездок. Но что делать, если тормоза начинают скрипеть? Как заменить камеру или корректно настроить цепь?
            
        <br><br>В этом уроке изучим основы технического обслуживания велосипеда. Разберем основные процедуры ухода и дадим рекомендации по замене ключевых деталей. После этого урока вы сможете обслуживать велосипед, что позволит вам получать ещё больше удовольствия от каждой прогулки и продлить «жизнь» вашему верному спутнику.</p>

        <hr>

        <h3 id="one" class="dark-prime-invert-100 mt32 mb16">Разбираем велосипед</h3>
        <p class="p1 dark-prime-invert-100">Прежде чем перейти к рекомендациям по регулировке велосипеда, давайте разберемся, из чего он состоит. Понимание основных компонентов и их функций поможет нам лучше понять, как правильно настроить велосипед для максимального комфорта и эффективности. Обычно велосипед состоит из следующих основных частей:</p>

        <ul class="column gap8">
            <li><img class="">
                <p class="p1 dark-prime-invert-100"><b>Вес. Он зависит от материалов изготовления рамы.</b>
                    Алюминий: легкий, прочный, но дороже. 
                    Сталь: тяжелее алюминия, но более устойчив и дешевле. 
                    Карбон: очень легкий и прочный, но дорогой.</p>
            </li>

            <li class="mb24">
                <img style="object-fit: contain;" class="course-img" src="{{ url_for('static', filename='/img/course/base-1.jpg') }}" alt="base">
                <p class="p1 dark-prime-invert-100"><b>Рама</b> Основной "скелет" велосипеда. Сделана, как правило, из алюминия или карбона. Размеры рамы могут варьироваться от XS до L. Чтобы определиться с размером, стоит попробовать перешагнуть через раму так, чтобы до паха оставалось от 2,5 до 5 см свободного пространства.</p>
            </li>

            <li class="mb24">
                <img  style="object-fit: contain;" class="course-img" src="{{ url_for('static', filename='/img/course/base-2.jpg') }}" alt="base">
                <p class="p1 dark-prime-invert-100"><b>Колесо</b> Включает в себя обод, спицы и втулку. Диаметры колес могут быть от 26 до 29 дюймов, а их ширина зависит от типа велосипеда.</p>
            </li>

            <li class="mb24">
                <img style="object-fit: contain;" class="course-img" src="{{ url_for('static', filename='/img/course/base-3.jpg') }}" alt="base">
                <p class="p1 dark-prime-invert-100"><b>Вилка</b> Связывает переднее колесо с рамой и рулем. Существуют жесткие и амортизационные вилки, причем последние способны поглощать удары от неровностей.</p>
            </li>


            <li class="mb24">
                <img style="object-fit: contain;" class="course-img" src="{{ url_for('static', filename='/img/course/base-5.jpg') }}" alt="base">
                <p class="p1 dark-prime-invert-100"><b>Система</b> Это то, что велосипедист вращает ногами. Включает в себя шатуны и звезды. Шатуны соединяются с педалями, а звезды позволяют цепи двигаться, когда происходит переключение скоростей.</p>
            </li>

            <li class="mb24">
                <img style="object-fit: contain;" class="course-img" src="{{ url_for('static', filename='/img/course/base-9.jpg') }}" alt="base">
                <p class="p1 dark-prime-invert-100"><b>Трансмиссия</b> Это объединение системы, педалей, цепи, каретки и тормозов. Все эти элементы работают вместе, чтобы заставить колеса вращаться.</p>
            </li>

            <li class="mb24">
                <img style="object-fit: contain;" class="course-img" src="{{ url_for('static', filename='/img/course/base-4.jpg') }}" alt="base">
                <p class="p1 dark-prime-invert-100"><b>Система переключения передач</b> Она регулирует скорость велосипеда и включает в себя манетки на руле, передний и задний переключатели, а также тросы, которые связывают все элементы между собой.</p>
            </li>

            <li class="mb24">
                <img style="object-fit: contain;" class="course-img" src="{{ url_for('static', filename='/img/course/base-10.jpg') }}" alt="base">
                <p class="p1 dark-prime-invert-100"><b>Цепь</b> Это металлическая цепь, состоящая из множества звеньев. Она соединяет передние и задние звезды, позволяя передавать движение от педалей к колесам. Цепь играет ключевую роль в системе переключения передач.</p>
            </li>

            <li class="mb24">
                <img style="object-fit: contain;" class="course-img" src="{{ url_for('static', filename='/img/course/base-6.jpg') }}" alt="base">
                <p class="p1 dark-prime-invert-100"><b>Педали</b> Это пластины или платформы, на которые нажимает велосипедист, чтобы вращать колеса. Педали могут быть простыми или с системой закрепления для специальной обуви, что обеспечивает более тесную связь ноги с педалью и повышает эффективность педалирования.</p>
            </li>

            <li class="mb24">
                <img style="object-fit: contain;" class="course-img" src="{{ url_for('static', filename='/img/course/base-7.jpg') }}" alt="base">
                <p class="p1 dark-prime-invert-100"><b>Седло</b> Это место, на котором сидит велосипедист. Седла бывают различных форм и размеров, чтобы обеспечить максимальный комфорт при длительных поездках или специфических условиях катания. Кроме того, они могут иметь дополнительную амортизацию для смягчения ударов от дорожных неровностей.</p>
            </li>
        </ul>

        <img class="course-img mb16 mt32" src="https://luizamiftakhova.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2Fe3ee84bd-7341-466b-90f0-bb396205a44a%2Ff2459bfb-b7c7-47ac-9501-8529726196df%2FUntitled.png?table=block&id=b00fefa8-1ca2-45f9-b241-8829aa07ed41&spaceId=e3ee84bd-7341-466b-90f0-bb396205a44a&width=1520&userId=&cache=v2" alt="Bike sheme">

        <h3 id="two" class="dark-prime-invert-100 mt32 mb16">Регулировка велосипеда под свой рост и стиль езды</h3>
        <p class="p1 dark-prime-invert-100">Каждый человек уникален, и что может подойти одному, может не подойти другому. Это особенно актуально, когда речь идет о физических параметрах и стиле езды. Правильная регулировка велосипеда позволяет не только ездить комфортнее, но и уменьшает риск травм. Вот несколько ключевых рекомендаций:</p>

        <div class="cards-grid-2 mt16">
            <div class="coursecard bgprime100">
                <h4 class="dark-prime-invert-300 mb8">Регулировка под рост</h4>
                
                <ul class="column gap8">
                    <li><img class="">
                        <p class="p1 dark-prime-invert-100"><b>Седло</b><br>Когда садитесь, нога должна спокойно доставать до педали, но колено при этом не должно полностью выпрямляться</p>
                    </li>
        
                    <li><img class="">
                        <p class="p1 dark-prime-invert-100"><b>Руль</b><br>Регулируйте его так, чтобы руки лежали на нем естественно и не напрягались. Не должно быть чувства, что вы "тянетесь" до руля или наоборот – слишком близко к нему</p>
                    </li>

                    <li><img class="">
                        <p class="p1 dark-prime-invert-100"><b>От седла до руля</b><br>Проверьте так: протяните руку вперед – кончик пальца должен касаться руля</p>
                    </li>

                    <li><img class="">
                        <p class="p1 dark-prime-invert-100"><b>Наклон седла</b><br>Убедитесь, что сиденье ровное, чтобы вы не соскальзывали вперед или назад</p>
                    </li>

                    <li><img class="">
                        <p class="p1 dark-prime-invert-100"><b>Педали</b><br>Когда педали внизу, колено должно быть слегка согнутым</p>
                    </li>

                    <li><img class="">
                        <p class="p1 dark-prime-invert-100"><b>Прокатитесь</b><br>После всех настроек прокатитесь немного. Если что-то не так – снова настройте</p>
                    </li>
                </ul>
            </div>

            <div class="coursecard bgprime100">
                <h4 class="dark-prime-invert-300 mb8">Регулировка под стиль езды</h4>
                
                <ul class="column gap8">
                    <li><img class="">
                        <p class="p1 dark-prime-invert-100"><b>В городе</b><br>Седло может быть немного пониже для легкости остановок и стартов. Руль чаще всего находится выше для лучшего обзора и управления</p>
                    </li>
        
                    <li><img class="">
                        <p class="p1 dark-prime-invert-100"><b>Горное катание</b><br>Седло может быть немного ниже обычного для большего контроля на неровных трассах. Руль, как правило, шире для лучшей управляемости</p>
                    </li>

                    <li><img class="">
                        <p class="p1 dark-prime-invert-100"><b>Спортивное катание/гонки</b><br>Седло устанавливается так, чтобы оптимизировать передачу мощности на педали. Руль обычно ниже и ближе к седлу для аэродинамической эффективности</p>
                    </li>

                    <li><img class="">
                        <p class="p1 dark-prime-invert-100"><b>Долгие велопрогулки и велотуризм</b><br>Для комфорта и эффективности на больших расстояниях, настройте седло на оптимальную высоту, обеспечивая слегка согнутые ноги. Руль может быть немного выше седла для удобной позиции спины. Клипсы на педалях и велообувь улучшат комфорт</p>
                    </li>
                </ul>
            </div>
 
        </div>
        <p class="p1 dark-prime-invert-100 mt16 mb16">Подбор оптимальных настроек требует времени и экспериментов. Важно слушать свое тело и делать необходимые корректировки, чтобы езда на велосипеде не приносила дискомфорт. Если вы новичок или не уверены в своих настройках, рекомендуется обратиться к специалистам или велосервису для профессиональной диагностики и коррекции</p>
        <hr>
        <h3 id="three" class="dark-prime-invert-300 mt32 mb16">Обслуживание и замена основных частей велосипеда</h3>

        <p class="p1 dark-prime-invert-100 mt16 mb16">Правильное техническое обслуживание и своевременная замена изношенных деталей – ключ к долгой и безопасной эксплуатации вашего велосипеда. Независимо от того, насколько часто и интенсивно вы используете свой байк, некоторые его компоненты, такие как камеры, тормозные колодки и цепь, подвергаются естественному износу. Умение правильно ухаживать за этими деталями, а также своевременно их заменять, не только продлит срок службы вашего велосипеда, но и гарантирует комфорт и безопасность ваших поездок. <br><br>Давайте подробно рассмотрим каждую из этих частей и основные моменты их обслуживания.</p>

        <div class="hscroll">
            <table class="mb16" border="1" cellpadding="10">
                <thead>
                <tr class="p1 bgprime100">
                    <th><p>Деталь</p></th>
                    <th><p>Как обслуживать?</p></th>
                    <th><p>Когда нужен ремонт?</p></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><p class="dark-prime-invert-100">Цепь</p></td>
                    <td><p class="dark-prime-invert-100">Для чистки используйте специализированный растворитель или чистящее средство для цепи, чтобы удалить грязь и старую смазку. После чистки обязательно смажьте цепь специальным средством, чтобы уменьшить трение и износ.</p></td>
                    <td><p class="dark-prime-invert-100">Если цепь регулярно соскальзывает или "слетает", из-за поврежденных звеньев, необычного шума при прокрутке педалей или износа зубцов на звездах.</p></td>
                </tr>
                <tr>
                    <td><p class="dark-prime-invert-100">Покрышки и камеры</p></td>
                    <td><p class="dark-prime-invert-100">Проверьте покрышки и камеры на наличие порезов, проколов или износа. Регулярно проверяйте давление в покрышках с помощью манометра. Соблюдайте рекомендуемое давление, указанное на боковой стенке покрышки.</p></td>
                    <td><p class="dark-prime-invert-100">Если покрышки имеют множество порезов, постоянно спускают воздух или имеют значительный износ протектора, требуется замена.</p></td>
                </tr>
                <tr>
                    <td><p class="dark-prime-invert-100">Тормозные колодки</td>
                    <td><p class="dark-prime-invert-100">Очищайте колодки и тормозные диски от грязи и пыли. Проверьте состояние тормозных колодок на износ. Регулируйте тормоза, чтобы обеспечить хорошую работу.</td>
                    <td><p class="dark-prime-invert-100">Когда тормоза не обеспечивают должного тормозного эффекта, скрипят, или колодки имеют мало остаточного материала.</td>
                </tr>
                <tr>
                    <td><p class="dark-prime-invert-100">Рулевая колонка</p></td>
                    <td><p class="dark-prime-invert-100">Раз в год (или чаще при интенсивном использовании) промывайте и смазывайте подшипники рулевой колонки. Проверьте рулевую колонку на наличие люфта и плавности вращения.</p></td>
                    <td><p class="dark-prime-invert-100">Если рулевая колонка имеет значительный люфт, проявляется шум или она вращается неравномерно</p>.</td>
                </tr>
                <tr>
                    <td><p class="dark-prime-invert-100">Каретка</p></td>
                    <td><p class="dark-prime-invert-100">Проверьте состояние каретки и ее крепления. Обратите внимание на люфт или шум при кручении педалей.</p></td>
                    <td><p class="dark-prime-invert-100">Если каретка имеет люфт, выраженный стук или другие необычные звуки, требуется регулировка или замена.</p></td>
                </tr>
                <tr>
                    <td><p class="dark-prime-invert-100">Переключатели и тросы</p></td>
                    <td><p class="dark-prime-invert-100">Регулярно очищайте тросы и переключатели от грязи. Применяйте смазку на тросы и точки сопряжения переключателей. Убедитесь, что передачи переключаются плавно и без задержек.</p></td>
                    <td><p class="dark-prime-invert-100">Ощущение жесткого переключения или сложности с выбором определенной передачи. Щелчки или другие странные звуки при попытке переключения. Ржавчина или износ на тросах и рубашках.</p></td>
                </tr>
                </tbody>
            </table>
        </div>
          

        <h3 id="four" class="dark-prime-invert-300 mt32 mb16">Сумка велосипедиста: «первая помощь» на дороге</h3>
        <p class="p1 dark-prime-invert-100">Для возможности устранения мелких поломок в пути, необходимо взять с собой набор инструментов и других важных предметов. Этот набор можно назвать "сумкой велосипедиста".<br><br>Сумка велосипедиста – это ваш мобильный набор необходимых инструментов и аксессуаров, который будет с вами на всякий случай, когда что-то идет не так. Это не просто сумка, это ваша страховка от непредвиденных обстоятельств в пути.</p>

        <ul class="column gap8 mt16 mb24">
            <li class="li-callout"><img class="">
                <p class="p1 dark-prime-invert-100"><b>Влажные салфетки</b>
                Могут пригодиться для очистки рук после ремонта или очистки оборудования от грязи и пыли, или даже обработать мелкие раны</p>
            </li>

            <li class="li-callout"><img class="">
                <p class="p1 dark-prime-invert-100"><b>Многофункциональный ключ</b> Позволяет произвести экстренный ремонт или регулировку велосипеда прямо на месте, не дожидаясь возвращения домой или в мастерскую.</p>
            </li>

            <li class="li-callout"><img class="">
                <p class="p1 dark-prime-invert-100"><b>Пластырь и медицинский набор</b> Незаменимы при небольших травмах или ссадинах. Даже маленькая царапина может стать большой проблемой, если её не обработать</p>
            </li>

            <li class="li-callout"><img class="">
                <p class="p1 dark-prime-invert-100"><b>Смазка для цепи</b> Позволяет вам быстро и эффективно устранить скрип цепи или вернуть ей свободное движение</p>
            </li>

            <li class="li-callout"><img class="">
                <p class="p1 dark-prime-invert-100"><b>Пластиковые стяжки</b> Идеальны для временного крепления частей велосипеда или крепления аксессуаров</p>
            </li>

            <li class="li-callout"><img class="">
                <p class="p1 dark-prime-invert-100"><b>Портативный насос</b> Позволит вам быстро накачать колесо в случае прокола</p>
            </li>

            <li class="li-callout"><img class="">
                <p class="p1 dark-prime-invert-100"><b>Набор для латки покрышек</b> Позволит вам быстро накачать колесо в случае прокола</p>
            </li>

            
        </ul>
        <p class="p1 dark-prime-invert-100">Наличие этого комплекта может значительно сократить время простоя из-за мелкой поломки и позволит продолжить ваш путь с минимальными неудобствами</p>

        <p class="p1 dark-prime-invert-100 mt16 mb16">Мы разобрались в строении велосипеда и заглянули в его нюансы обслуживания. Важным выводом стало, что правильная настройка велосипеда под свой рост и стиль катания не только увеличивает комфорт, но и в первую очередь обеспечивает безопасность ваших поездок. <br><br>Научившись распознавать признаки износа, вы теперь можете определить, когда пора провести ремонт или замену конкретных деталей. Например, странные звуки или соскальзывание цепи могут свидетельствовать о необходимости вмешательства. <br><br>Наконец, мы обсудили сумку велосипедиста, которая стала своеобразной страховкой от непредвиденных ситуаций в дороге. <br><br>Следуя нашим рекомендациям, вы сможете поддерживать ваш велосипед в идеальном состоянии, продлевая его срок службы, и, что не менее важно, гарантированно обеспечивать свою безопасность на дороге.</p>

        <hr>

         <!--Next lessons-->
         <div class="next-lesson bgprimeinvert300 row">
            <span class="column" style="width: 100%;">
                <p style="text-transform: uppercase;" class="p1 dark-prime-100">СЛЕДУЮЩИЙ УРОК</p>
                <h4 class="dark-prime-100 mt8 mb16">Безопасность велосипедиста</h4>
                <a href="https://velojol.kz/index.wsgi/course/cyclist-safety" style="max-width: 150px;" class="button bgprime100 center"><p class="p1 dark-prime-invert-100">Перейти</p>

                    <img class="theme-icon dark" src="../static/img/icon/arrow-right-white.svg" alt="Go back">
            <img class="theme-icon light" src="../static/img/icon/arrow-right-black.svg" alt="Go back">
                </a>
            </span>

            <img style="width: 115px; height: 115px; object-fit: contain;" src="{{ url_for('static', filename='/img/course/id-4.png') }}" alt="next-cover">
    </main>


    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
</body>
    
</html>