<!DOCTYPE html>
<html>
<head>
    <title>Взаимодействие на дороге</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Подробная карта велодорожек и велополос города">
    <meta name="keywords" content="Карта, велодорожки, город, велодорожка, велополоса, велосипед">
    <meta name="author" content="Velojol">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="language" content="Russian">
    <link rel="apple-touch-icon" sizes="180x180" href="static/img/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/img/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/img/fav/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="static/img/fav/safari-pinned-tab.svg" color="#121212">
    <meta name="msapplication-TileColor" content="#121212">
    <meta name="theme-color" content="#121212">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://velojol.kz">
    <meta property="og:title" content="VELOJOL">
    <meta property="og:description" content="Подробная карта велодорожек и велополос города">
    <meta property="og:image" content="static/img/landing/coursemeta.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/typo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flex.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/course.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/banner.css') }}">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2M7C2FWEP4"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-2M7C2FWEP4');
    </script>


    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
     
        ym(95219611, "init", {
             clickmap:true,
             trackLinks:true,
             accurateTrackBounce:true,
             webvisor:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/95219611" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

</head>

<body>
    <!--Navbar-->
    <div class="navbar row bgprime100 aic">
        <a style="position: absolute; left: 16px;" href="{{ url_for('course') }}" class="button fs">
            
            <img class="theme-icon dark" src="../static/img/icon/left-arrow-white.svg" alt="Go back">
            <img class="theme-icon light" src="../static/img/icon/left-arrow-black.svg" alt="Go back">

        </a>

        <p style="margin-left: auto; margin-right: auto;" class="dark-prime-invert-100 center bold">Взаимодействие на дороге</p>
    </div>

    <!--Course-menu-->
    <div class="course-menu fs">
        <a href="{{ url_for('course') }}" class="button fs">
            
            <img class="theme-icon dark" src="../static/img/icon/left-arrow-white.svg" alt="Go back">
            <img class="theme-icon light" src="../static/img/icon/left-arrow-black.svg" alt="Go back">
            <p class="dark-prime-invert-100">Назад</p>
        </a>

        <hr>

        <span class="column gap2">

            <a href="#one" class="button fs dark-prime-invert-400">
                <p class="dark-prime-invert-100">Сталкиваемся с другими участниками дорожного движения</p>
            </a>

            <a href="#two" class="button fs dark-prime-invert-400">
                <p class="dark-prime-invert-100">Экстренные ситуации</p>
            </a>

            <a href="#three" class="button fs dark-prime-invert-400">
                <p class="dark-prime-invert-100">Памятка при ДТП</p>
            </a>

        </span>

    </div>

    <main class="course-main">

         <!--Cover-->
         <div class="course-cover bgprime10">

            <!--Badges-->
            <span class="gap8 row">
                <p class="badge_m dark-prime-invert-100 bgprime200">5 урок из 8</p>
                <p class="badge_m dark-prime-invert-100 bgprime200">11   минут на чтение</p>
            </span>
    
            <h1 class="dark-prime-invert-100 mt16 mb8 center">Взаимодействие на дороге</h1>
            <p class="dark-prime-invert-200 mb16"></p>
    
            <img src="{{ url_for('static', filename='/img/course/6cover.png') }}" alt="cover">
        </div>
        

        <h3 class="dark-prime-invert-100 mt32 mb16" id="one">Сталкиваемся с другими участниками дорожного движения</h3>
        <p class="p1 dark-prime-invert-100">В прошлом уроке мы изучили ПДД для велосипедистов и выяснили, что велосипедист на дороге — это участник движения, равный всем остальным. Однако, чтобы обеспечить свою безопасность и безопасность других участников дорожного движения, необходимо не только знать правила и знаки, но и уметь взаимодействовать с другими участниками дорожного движения, включая автомобили и пешеходов. </p>


        <h4 class="dark-prime-invert-100 mt48">Взаимодействие с автомобилями</h4>

        <div class="column gap8 mt16 mb24">
            <div class="coursecard bgprime100 gap8 column">
                <p class="p1 dark-prime-invert-100"><b>1. Движение согласно направлению</b></p>
                <p class="p1 dark-prime-invert-100 mt16">Двигаться по направлению движения автотранспорта — основное правило для велосипедистов на дороге. Это не только помогает избежать столкновений, но и делает вас более предсказуемым участником дорожного движения. Водители автомобилей привыкли ожидать движения в определенных направлениях, и ваше соблюдение этого принципа уменьшает риски неожиданных ситуаций.</p>
            </div>

            <div class="coursecard bgprime100 gap8 column">
                <p class="p1 dark-prime-invert-100"><b>2. Пешеходный поворот для велосипедистов</b></p>
                <p class="p1 dark-prime-invert-100 mt16">Предсказуемо поворачиваем налево. <br><br>Пешеходный поворот – это способ, который позволяет велосипедистам поворачивать налево на дорогах с несколькими полосами или где прямой левый поворот может быть опасным.<br>Пешеходный поворот для велосипедистов признан одним из самых безопасных методов осуществления левого поворота. Он уменьшает вероятность конфликтов на пересечении с автомобилями, особенно когда речь идет о пересечении нескольких полос. Такое поведение велосипедиста становится предсказуемым для других участников движения, что делает дорогу более безопасной для всех.  Этот метод особенно полезен для новичков и детей, так как он имитирует привычное пешеходное пересечение.
                </p>
            </div>

            <div class="coursecard bgprime100 gap8 column">
                <p class="p1 dark-prime-invert-100"><b>3. Как включить поворотник?</b></p>
                <p class="p1 dark-prime-invert-100">В городе велосипедистам необходимо ясно демонстрировать свои намерения остальным участникам движения. Ручные поворотники становятся важным инструментом в этом процессе. Эти знакомые жесты обеспечивают безопасность и предсказуемость на дорогах. Делая ручной поворотник, велосипедист помогает предотвратить неожиданные маневры и аварии.</p>
            </div>

            <div class="coursecard bgprime100 gap8 column">
                <p class="p1 dark-prime-invert-100"><b>4. Правила перекрестков и светофоры</b></p>
                <p class="p1 dark-prime-invert-100">При наличии светофора следует строго придерживаться указаний его сигналов. Некоторые перекрестки оборудованы специальными светофорами для велосипедистов. Они работают по аналогичному принципу, но могут иметь дополнительные секции или сигналы.</p>
            </div>

            <div class="coursecard bgprime100 gap8 column">
                <p class="p1 dark-prime-invert-100"><b>5. Будьте внимательны к автомобилям, которые припаркованы у обочины</b></p>
                <p class="p1 dark-prime-invert-100">Постоянно следите за припаркованными автомобилями, так как в любой момент может произойти открытие двери. Поддерживайте безопасный интервал между вашим велосипедом и припаркованными автомобилями, чтобы избежать возможного столкновения с водителем, который может случайно открыть дверь и создать опасную ситуацию.</p>
            </div>

            <div class="coursecard bgprime100 gap8 column">
                <p class="p1 dark-prime-invert-100"><b>6. Соблюдение дистанции и избегание "слепых зон" автомобилей. </b></p>
                <p class="p1 dark-prime-invert-100">Всегда поддерживайте безопасное расстояние от машин, особенно если они двигаются медленно или стоят на светофоре. Это предоставит вам дополнительное время для реакции в случае внезапных маневров со стороны водителей.<br><br>Остерегайтесь так называемых "слепых зон" у транспортных средств. Для этого избегайте движения справа от больших автомобилей, особенно когда они готовятся к повороту. Многие водители могут не заметить велосипедиста, двигающегося сбоку. На перекрестках, где велосипедисты движутся вперед, а автомобили собираются поворачивать направо, водители должны уступать дорогу велосипедистам согласно правилам. Тем не менее, из-за невнимательности или "слепых зон" справа некоторые водители могут не заметить вас. Чтобы обеспечить вашу видимость, попробуйте становиться перед автомобилями, у которых включен поворотник. Так вас заметят. В случае, если такой возможности нет, лучше подождать и уступить дорогу машинам.</p>
            </div>
        </div>

        <span class="li-callout"><p class="p1 dark-prime-invert-200">Предсказуемое и внимательное поведение на дороге позволит велосипедисту уверенно и безопасно передвигаться даже в условиях интенсивного дорожного движения.</p></span>

        <h4 class="dark-prime-invert-100 mt32">Взаимодействие с пешеходами</h4>

        <div class="column gap8 mt16 mb24">
            <div class="coursecard bgprime100">
                <p class="p1 dark-prime-invert-100"><b>1. На дороге</b></p>
                <p class="p1 dark-prime-invert-100 mt16">Когда вы приближаетесь к пешеходному переходу, важно замедлить свою скорость и уступить дорогу пешеходам. В этой ситуации у них предоставлено преимущество, и они имеют право перейти дорогу первыми. Внимательность и уважение к пешеходам на дороге - это фундамент безопасного взаимодействия между велосипедистами и пешеходами.</p>
            </div>

            <div class="coursecard bgprime100">
                <p class="p1 dark-prime-invert-100"><b>2. На тротуаре</b></p>
                <p class="p1 dark-prime-invert-100 mt16">Если вы оказались на тротуаре, и ваши действия мешают пешеходам, лучше спешите и двигайтесь пешком. Здесь пешеход — приоритетный участник движения. И даже если у вас есть звонок на велосипеде, используйте его только для предупреждения, но не требуйте уступить вам дорогу. Старайтесь не создавать помехи для других участников движения. Например, если вы движетесь по тротуару и сталкиваетесь с пешеходом, ответственность лежит на вас, а не на пешеходе.
                </p>
            </div>

            <div class="coursecard bgprime100">
                <p class="p1 dark-prime-invert-100"><b>3. Дети на велосипеде</b></p>
                <p class="p1 dark-prime-invert-100">Дети в возрасте от 7 до 14 лет не имеют права ездить по велополосе и автомобильной дороге, а дети до 7 лет не могут двигаться по велодорожкам. Однако они свободно могут кататься в парках и на тротуарах. Если вы на велосипеде с ребенком, следуйте правилам, предназначенным для детей, а не взрослых.</p>
            </div>

            <div class="coursecard bgprime100">
                <p class="p1 dark-prime-invert-100"><b>4. Во дворе</b></p>
                <p class="p1 dark-prime-invert-100">На территориях возле домов и во дворах следует всегда снижать скорость и проявлять особую осторожность. Здесь могут встречаться множество пешеходов, включая детей и животных, поэтому важно быть внимательным и предусмотрительным.</p>
            </div>
        </div>

        <span class="li-callout"><p class="p1 dark-prime-invert-200">Если вы сомневаетесь в значении дорожного знака, встретились с интенсивным трафиком или столкнулись с потенциально опасным участком дороги, лучший вариант — перейти на тротуар. В неясных или сложных ситуациях, спешите и идите пешком. Этим стоит воспользоваться, особенно на сложных участках, где правила движения не предоставляют ясных рекомендаций.</p></span>

        <hr>
        <h3 class="dark-prime-invert-100 mt48 mb16" id="two">Экстренные ситуации</h3>
        <p class="p1 dark-prime-invert-100">Разобравшись с ПДД и изучив как правильно взаимодействовать с другими участниками движения, мы все еще не застрахованы от экстренных ситуаций. Возможные непредвиденные обстоятельства, будь то столкновение, падение или поломка велосипеда, могут случиться с каждым велосипедистом. Как правильно реагировать в таких ситуациях? Что делать, чтобы минимизировать риск получения травмы и сохранить свой велосипед? В этом разделе мы подробно рассмотрим различные экстренные ситуации и научимся справляться с ними.

            <br><br>Разберем возможные ситуации.</p>

        <h4 class="dark-prime-invert-100 mt32">С пешеходами</h4>
        <div class="column gap8 mt16 mb24">
            <div class="coursecard bgprime100">
                <p class="p1 dark-prime-invert-100"><b>Ситуация 1. Столкновение без травм. </b></p>
                <p class="p1 dark-prime-invert-100 mt16">Если во время велопоездки вы случайно столкнулись с пешеходом, и никто из участников не пострадал, первым шагом будет проявление вежливости и уважения. Просто извинитесь и попробуйте разрешить ситуацию мирно. Оставайтесь спокойными и не устраивайте конфликт.</p>
            </div>

            <div class="coursecard bgprime100">
                <p class="p1 dark-prime-invert-100"><b>Ситуация 2. Столкновение с серьезными травмами. </b></p>
                <p class="p1 dark-prime-invert-100 mt16">
                    В случае столкновения с пешеходом, которое привело к серьезным травмам, первым и самым важным действием является вызов экстренной помощи. Поделитесь информацией о местоположении и характере произошедшего инцидента.
                    
                    <br><br>Если вы тоже пострадали и есть подозрение на серьезные травмы, постарайтесь оставаться неподвижными. Движение с поврежденными конечностями или позвоночником может ухудшить травму. Дождитесь прибытия медицинской помощи.
                </p>
            </div>

        
        </div>




        <h4 class="dark-prime-invert-100 mt32">С автомобилями</h4>

        <div class="column gap8 mt16 mb24">
            <div class="coursecard bgprime100">
                <p class="p1 dark-prime-invert-100"><b>Ситуация 1. Легкое столкновение </b></p>
                <p class="p1 dark-prime-invert-100 mt16">Если вы упали на небольшой скорости и вам не нужна медпомощь. Оставьте велосипед на месте и вызовите экстренные службы. Зафиксируйте ситуацию фотографиями: место столкновения, номерные знаки, повреждения. При приезде полиции, получите протокол о происшествии. 

                    a) Если водитель признает вину: составьте две расписки – об отсутствии претензий после выплаты компенсации и о его обязательстве выплатить компенсацию.
                    b) Если водитель отрицает вину: получите копию протокола от полиции и справку о ДТП. Не ремонтируйте велосипед и рассмотрите возможность обращения к юристу.
                    c) Если ДТП произошло по вашей вине, то не пытайтесь скрыться с места происшествия, это может усугубить юридические последствия.</p>
            </div>

            <div class="coursecard bgprime100">
                <p class="p1 dark-prime-invert-100"><b>Ситуация 2. Серьезное ДТП. </b></p>
                <p class="p1 dark-prime-invert-100 mt16">
                    При серьезном столкновении, особенно если это произошло на высокой скорости, вашим приоритетом должна быть личная безопасность. Если вы чувствуете боль или предполагаете, что у вас могут быть переломы, не пытайтесь вставать. Оставайтесь в безопасном положении и ожидайте помощи. При прибытии медицинских работников проследуйте их рекомендациям.
                    
                    a) Если госпитализация не требуется и у вас нет видимых травм, обязательно получите справку от медицинских специалистов о вашем состоянии. Это может пригодиться при оформлении ДТП. Оформите ДТП.
                    
                    b) Если серьезное ДТП произошло по вине велосипедиста, то не признавайтесь в виновности до прибытия полиции и оформления ДТП. Вся информация о ДТП будет включена в полицейский протокол. Если ДТП произошло по вашей вине, вам, возможно, придется нести ответственность, включая выплату компенсации. В этом случае обратитесь к юристу для консультации и защиты ваших интересов.
                </p>
            </div>

        
        </div>
        
        <p class="p1 dark-prime-invert-100">Конечно, при экстренных ситуациях сложно сообразить кто виноват или кто получил травмы. Для этого предлагается краткая памятка о том что делать при ДТП. Она напоминает о ключевых шагах, таких как оценка ситуации, вызов экстренных служб и документирование происшествия. Этот инструмент может быть незаменимым в случае аварии, предоставляя необходимые рекомендации и минимизируя риски юридических и физических последствий.</p>

        <!--pdf banner-->
        <div class="pdfbanner mt24 bgaccent200">
            <h4 class="bold dark-prime-invert-200">Памятка при ДТП</h4>
            <p class="dark-prime-invert-200 mt4 mb32">Можете сделать себе копию</p>
            <a class="button bgprime100" href="https://velojol.kz/check-list.pdf" download>
                <p class="p2 dark-prime-invert-100">Скачать бесплатно</p>
            </a>
            
        </div>

        <!--Next lessons-->
        <div class="next-lesson bgprimeinvert300 row">
            <span class="column" style="width: 100%;">
                <p style="text-transform: uppercase;" class="p1 dark-prime-50">СЛЕДУЮЩИЙ УРОК</p>
                <h4 class="dark-prime-100 mt8 mb16">Эффективное перемещение по городу</h4>
                <a href="https://velojol.kz/index.wsgi/course/efficient-city-movement" style="max-width: 150px;" class="button bgprime100 center"><p class="p1 dark-prime-invert-100">Перейти</p>

                    <img class="theme-icon dark" src="../static/img/icon/arrow-right-white.svg" alt="Go back">
                    <img class="theme-icon light" src="../static/img/icon/arrow-right-black.svg" alt="Go back">
                </a>
            </span>

            <img style="width: 115px; height: 115px; object-fit: contain;" src="{{ url_for('static', filename='/img/course/id-7.png') }}" alt="next-cover">
        </div> 
    </main>

    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
</body>

</html>