:root {
  --dark-prime-invert-5: rgba(26, 26, 26, 0.05);
  --dark-prime-invert-10: rgba(0,0,10,0.1);
  --dark-prime-invert-25: #1A1A1A40;
  --dark-prime-invert-50: #1A1A1A80;
  --dark-prime-invert-100: #000000;
  --dark-prime-invert-200: #1a1a1a;
  --dark-prime-invert-300: #262626;
  --dark-prime-invert-400: #333333;

  --static-white: #fff;

  --dark-prime-25: #FFFFFF40;
  --dark-prime-50: #FFFFFF80;
  --dark-prime-100: #FFFFFF;
  --dark-prime-200: #F2F2F2;
  --dark-prime-300: #fbfbfb;
  

  --dark-accent-100: #66FF80;
  --dark-accent-200: #02324A;
  --dark-accent-300: #6C0DF2;

  --bronze: #AD8A56;
  --silver: #D7D7D7;
  --gold: #C9B037;
  --red: red;

  --bg1: #F2F2F7;

  --bgstate500: #64C750;
}

.staticwhite100{
  color: var(--static-white);
}


.bgstate500{
  background-color: var(--bgstate500);
}


.dark-prime-50{
  color: var(--dark-prime-50);
}


.dark-prime-100{
  color: var(--dark-prime-100) !important;
}


.dark-prime-200{
color: var(--dark-prime-200) !important;
}

.dark-prime-300{
color: var(--dark-prime-300);
}

.dark-prime-400{
  color: var(--dark-prime-400);
  }

.dark-prime-invert-5{
  color: var(--dark-prime-invert-5);
}

.dark-prime-invert-25{
color: var(--dark-prime-invert-25);
}

.dark-prime-invert-50{
color: var(--dark-prime-invert-50);
}

.dark-prime-invert-100{
color: var(--dark-prime-invert-100);
}

.dark-prime-invert-200{
color: var(--dark-prime-invert-200);
}

.dark-prime-invert-300{
color: var(--dark-prime-invert-300);
}

.dark-prime-invert-400{
color: var(--dark-prime-invert-400);
}

.dark-accent-100{
color: var(--dark-accent-100);
}

.dark-accent-200{
  color: var(--dark-accent-200);
  }

.bgprime10{
  background-color: var(--dark-prime-invert-10);
}

.bgprime50{
  background-color: var(--dark-prime-invert-50);
}


.bgprime100{
  background-color: var(--dark-prime-100);
}

.bgaccent100{
  background-color: var(--dark-accent-100);
}

.bgaccent200{
  background-color: var(--dark-accent-200);
}

.bgaccent300{
  background-color: var(--dark-accent-300);
}



.bgprimveinvert100{
background-color: var(--dark-prime-invert-100);
}

.bgprimveinvert200{
  background-color: var(--dark-prime-invert-200);
}

.bgprimveinvert300{
  background-color: var(--dark-prime-invert-300);
}

.bgprime25{
  background-color: var(--dark-prime-25);
 }

.bgprime50{
  background-color: var(--dark-prime-50);
 }

 .bgprime100{
  background-color: var(--dark-prime-100);
 }

.bgprime200{
  background-color: var(--dark-prime-200) !important;
}

.bgprime300{
 background-color: var(--dark-prime-300);
}

.bgprime400{
background-color: var(--dark-prime-400);
}

.accent200{
  color: var(--dark-accent-200);
}

.red{
  color: var(--red);
}