.main-course-cover{
    height: 380px;
    width: 100%;
    max-width: 920px;
    object-fit: cover;
    border-radius: 16px;
}

.course-cover{
    padding:24px;
    padding-bottom: 190px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 48px;
    position: relative;
}

.course-cover img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 440px;
    max-height: 240px;
    bottom: -35px;
}

.course-main{
    width: 100%;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;

    padding-bottom: 100px;
}

.lesson-link{
    display: flex;
    flex-direction: row;
    gap:8px;
    padding: 10px;
    border-radius: 16px;
    align-items: center;
}

.lesson-link img{
    width: 54px;
    height: 54px;
}

.pdfbanner{
    display: block;
    width: 100%;
    padding: 24px;
    border-radius: 16px;
    background-color: red;
}

.cards-grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.card200{
    width: 100%;
    height: 200px;
    border-radius: 16px;
    padding: 32px;
}

.card400{
    width: 100%;
    height: 400px;
    border-radius: 16px;
    padding: 32px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
}

.card400 img{
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

.img48{
    width: 48px !important;
    height: 48px !important;
    border-radius: 8px;
}

.coursefloat{
    position: fixed;
    bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    z-index: 100000;
}


.course-cover img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 440px;
    max-height: 240px;
    bottom: -35px;
}

.course-img{
    width: 100%;
    height: auto;
    max-height: 600px;
    object-fit: cover;
    border-radius: 16px;
}

.course-img-bike{
    width: 100%;
    height: 100%;
    max-height: 300px;
    margin-bottom: 16px;
    object-fit: contain;
}

.coursecard{
    padding: 16px;
    border-radius: 16px;
}

.li-callout{
    display: flex;
    flex-direction: row;
    padding: 24px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
}

th{
    text-align: left;
    padding: 8px;
    border: 1px solid var(--dark-prime-invert-25);
}

td{
    padding: 8px;
    border: 1px solid var(--dark-prime-invert-25);
}

.course-menu{
    padding: 16px;
    background-color: var(--dark-prime-100);
    border-radius: 16px;

    position: fixed;
    left: 16px;
    top: 16px;

    width: 240px;
}

.next-lesson{
    padding: 24px;
    border-radius: 16px;
    margin-top: 24px;
}

table{
    border-radius: 16px;
}

.hscroll{
    overflow-y: scroll;
}

.exam_img{
    width: 100%;
    height: auto;
    border-radius: 16px;
}

#social-share-buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
  

@media screen and (max-width: 960px) {
    .cover-img{
        height: 220px;
    }

    .course-main{
        padding-left: 1em;
        padding-right: 1em;
    }

    .main-course-cover{
        height: 200px;
    }

    .cards-grid-2{
        grid-template-columns: auto;
    }

    #social-share-buttons{
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 1290px) {
    .course-menu{
        display: none;
    }

    .course-main{
        padding-top: 54px;
    }

    .li-callout{
        flex-direction: column;
    }
}