
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Админ-панель</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
</head>
<body>
    <div class="container mt-4">
        {% block content %}
        <div class="container">
            <h2>Управление городами</h2>
            <a href="/admin/cities/add" class="btn btn-success mb-3">Добавить город</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    {% for city in cities %}
                    <tr>
                        <td>{{ city.city }}</td>
                        <td>
                            <a href="/admin/cities/edit/{{ city.id }}" class="btn btn-sm btn-warning">Редактировать</a>
                            <button class="btn btn-sm btn-danger" onclick="deleteCity('{{ city.id }}')">Удалить</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endblock %}
    </div>



    <!-- Кнопка удалить -->
    <script>
        function deleteCity(cityId) {
            if (confirm("Вы уверены, что хотите удалить этот город?")) {
                fetch(`/admin/cities/delete/${cityId}`, {
                    method: "POST",
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === "success") {
                        alert("Город успешно удален!");
                        location.reload(); // Перезагрузка страницы
                    } else {
                        alert("Произошла ошибка при удалении города.");
                    }
                })
                .catch(error => console.error("Ошибка:", error));
            }
        }
    </script>


    
</body>
</html>



