<!DOCTYPE html>
<html lang="ru">
<head>
    <title>VELOJOL</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Подробная карта велодорожек и велополос города">
    <meta name="keywords" content="Карта, велодорожки, город, велодорожка, велополоса, велосипед">
    <meta name="author" content="Velojol">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="language" content="Russian">
    
    <!-- Фавиконы и мета-данные -->
    <link rel="apple-touch-icon" sizes="180x180" href="static/images/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/fav/favicon-16x16.png">
    <link rel="mask-icon" href="static/images/fav/safari-pinned-tab.svg" color="#121212">
    <meta name="msapplication-TileColor" content="#121212">
    <meta name="theme-color" content="#121212">
    
    <!-- Open Graph мета-данные -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://velojol.kz">
    <meta property="og:title" content="VELOJOL">
    <meta property="og:description" content="Подробная карта велодорожек и велополос города">
    <meta property="og:image" content="static/images/landing/meta.jpg">

    <!-- Подключение стилей -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/typo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cities.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flex.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/banner.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    
    <!-- Подключение тем -->
    <link id="theme-link" rel="stylesheet" href="{{ url_for('static', filename='css/colors_dark.css') }}">

</head>
    <!-- header -->
    {% include 'header.html' %} 
    <main class="pt100">
    <body>
        <!-- Список городов -->
        <!-- Сделать группировку по странам-->

        <div id="cities" class="w100">
            <ul class="landgrid">
                {% for city in cities %}
                    <li>
                        <a class="citycard" href="{{ url_for('city_details', city_id=city['id']) }}">
                            <img class="citycover" src="{{ url_for('static', filename='images/city/' + city.cover) }}" alt="Cover of {{ city.city }}">
                            <span class="badge bgstate500"><p class="p3 dark-prime-200">{{ city.rating }}</p></span>
                            <img class="citycoat" src="{{ url_for('static', filename='images/city/' + city.coat) }}" alt="Coat of {{ city.city }}">
                            <span class="mb16 column gap4 citycardbody">
                                <h6 class="dark-prime-invert-100">{{ city.city }}</h6>
                                <span class="row gap8">
                                    <p class="dark-prime-invert-50">{{ city.distance }} км</p>
                                    <p class="dark-prime-invert-50">•</p>
                                    <p class="dark-prime-invert-50">{{ city.country }}</p>
                                </span>
                            </span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            
        </div>
    </body>
    </main>

    <!-- footer -->
    {% include 'footer.html' %}

    <!--Scripts-->
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
</html>
