<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Маршруты {{ city.city }}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Подробная карта велодорожек и велополос города {{ city.city }}">
    <meta name="keywords" content="Карта, велодорожки, {{ city.city }}">
    <meta name="author" content="Velojol">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/fav/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/fav/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/fav/favicon-16x16.png') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='img/fav/safari-pinned-tab.svg') }}" color="#121212">
    <meta name="msapplication-TileColor" content="#121212">
    <meta name="theme-color" content="#121212">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/typo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flex.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/imageview.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">


    <script>
        (function() {
          const savedTheme = localStorage.getItem('theme') || 'dark';
          document.documentElement.setAttribute('data-theme', savedTheme);
        })();
      </script>
      

    <!-- Подключение тем -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
</head>
<body>

    <!-- Header -->
    <div class="tapbar row gap8">
        <button class="size_m bgprime400" onclick="goToCityDetails()">
            <img src="{{ url_for('static', filename='img/icon/left-arrow-white.svg') }}" alt="Go back">
        </button>

        <span class="row w100 bgprime400">
            <button id="tabMap" class="button active gap8 w100">
                <img src="{{ url_for('static', filename='img/icon/map.svg') }}" alt="Map">
                <p class="dark-prime-invert-200">Карта</p>
            </button>
            <button id="tabList" class="button gap8 w100">
                <img src="{{ url_for('static', filename='img/icon/list-white.svg') }}" alt="List">
                <p class="dark-prime-invert-200">Список</p>
            </button>
        </span>
    </div>

    <!-- Main Content -->
    <main>
        <div id="bikelist" class="block bgprime300">
            <div class="navhead">
                <button class="size_s desktop" onclick="goToCityDetails()">
                    <img src="{{ url_for('static', filename='img/icon/left-arrow-white.svg') }}" alt="Go back">
                </button>
                <h6 class="dark-prime-invert-200">{{ city.city }}</h6>
            </div>

            <div id="bikeRoutesList">
            </div>
        </div>
        
        <!-- Модальное окно маршрута -->
        <div id="routeModal" class="routemodal">
            <div class="route-modal-content bgprime300">
                <button id="closeModal" class="close-button">&times;</button>
                <h2 id="routeTitle"></h2>
                <img id="routePhoto" src="" alt="Фото маршрута">
                <p id="routeDistance"></p>
                <p id="routeHeight"></p>
                <p id="routeDifficulty"></p>
                <p id="routeDescription"></p>
            </div>
        </div>

    

        <div id='map'></div>
    </main>

    <script>
        var cityCoordinates = {{ city.coordinates | tojson }};
        var cityZoom = {{ city.zoom | tojson }};
        var cityName = {{ city.city | tojson }};
        var cityId = {{ city.id | tojson }};
    </script>
    

    <!-- Navigation Script -->
    <script>
        function goToCityDetails() {
            window.location.href = "/{{ city.id }}";
        }
    </script>

    <!-- Mapbox Integration -->
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js"></script>
    <script src="{{ url_for('static', filename='js/routes_map.js') }}"></script>
    <script src="{{ url_for('static', filename='js/imageview.js') }}"></script>
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
    <script src="https://unpkg.com/togeojson@0.16.0/togeojson.js"></script>
    <script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>



</body>
</html>
