<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Маршруты {{ city.city }}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Подробная карта велодорожек и велополос города {{ city.city }}">
    <meta name="keywords" content="Карта, велодорожки, {{ city.city }}">
    <meta name="author" content="Velojol">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/fav/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/fav/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/fav/favicon-16x16.png') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='img/fav/safari-pinned-tab.svg') }}" color="#121212">
    <meta name="msapplication-TileColor" content="#121212">
    <meta name="theme-color" content="#121212">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/typo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flex.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/imageview.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">


    <script>
        (function() {
          const savedTheme = localStorage.getItem('theme') || 'dark';
          document.documentElement.setAttribute('data-theme', savedTheme);
        })();
      </script>
      

    <!-- Подключение тем -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
</head>
<body>
    <!-- loader -->
    {% include 'loader.html' %}

    <!-- Header -->
    <div class="tapbar row gap8">
        <button class="size_m bgprime400" onclick="goToCityDetails()">
            <img class="theme-icon dark" src="{{ url_for('static', filename='img/icon/left-arrow-white.svg') }}" alt="Go back">
            <img class="theme-icon light" src="{{ url_for('static', filename='img/icon/left-arrow-black.svg') }}" alt="Go back">
        </button>

        <span class="row w100 bgprime400">
            <button id="tabMap" class="button active gap8 w100">
                <img class="theme-icon dark" src="{{ url_for('static', filename='img/icon/map-white.svg') }}" alt="Map">
                <img class="theme-icon light" src="{{ url_for('static', filename='img/icon/map-black.svg') }}" alt="Map">
                <p class="dark-prime-invert-200">Карта</p>
            </button>
            <button id="tabList" class="button gap8 w100">
                <img class="theme-icon dark" src="{{ url_for('static', filename='img/icon/list-white.svg') }}" alt="List">
                <img class="theme-icon light" src="{{ url_for('static', filename='img/icon/list-black.svg') }}" alt="List">
                <p class="dark-prime-invert-200">Список</p>
            </button>
        </span>
    </div>

    <!-- Main Content -->
    <main>
        <!--Right-->
        <div class="bottomright">
            <span class="h34"></span>
            <!--Middle-->
            <span class="column gap8 mapmiddle">
                <!--Zoom chips-->
                <div class="chips bgprime400">
                    <button class="button_icon" id="zoomIn">
                        <img class="theme-icon dark" src="../static/img/icon/plus1-white.svg" alt="plus">
                        <img class="theme-icon light" src="../static/img/icon/plus1-black.svg" alt="plus">
                    </button>


                    <button class="button_icon" id="zoomOut">
                        <img class="theme-icon dark" src="../static/img/icon/minus-white.svg" alt="minus">
                        <img class="theme-icon light" src="../static/img/icon/minus-black.svg" alt="minus">
                    </button>
                </div>
            </span>


            <a href="https://fatikhov.notion.site/Velojol-e83a5c646a8d4648a366d5b8e60f8a05?pvs=4" target="_blank" class="button border bgprime300 dark-prime-invert-200 gap8">
                <img class="theme-icon dark" src="../static/img/icon/question-white.svg" alt="question">
                <img class="theme-icon light" src="../static/img/icon/question-black.svg" alt="question">
                <p class="hide540">Что это</p>
            </a>
        </div>

        <!--ImageView-->
        <div id="imageModal" class="modal">
            <span class="size_s close">
                <img class="theme-icon dark" src="../static/img/icon/close-white.svg" alt="close">
                <img class="theme-icon light" src="../static/img/icon/close-black.svg" alt="close">
            </span>
            <img class="modal-image">
            <!-- Кнопки навигации -->
            <a class="prev size_s"><img src="../static/img/icon/arrow-left-white.svg"></a>
            <a class="next size_s"><img src="../static/img/icon/arrow-right-white.svg"></a>
            <!-- Порядковый номер фото -->
            <div class="image-counter">1 / 1</div>
        </div>

        <!--List-->
        <div id="bikelist" class="block bgprime300">
            <div class="navhead">
                <button class="size_s desktop" onclick="goToCityDetails()">
                    <img class="theme-icon dark" src="../static/img/icon/left-arrow-white.svg" alt="Go back">
                <img class="theme-icon light" src="../static/img/icon/left-arrow-black.svg" alt="Go back">
                </button>
                <h6 class="dark-prime-invert-200">{{ city.city }}</h6>
                <span class="h34"></span>
            </div>

            <div id="bikeRoutesList">
            </div>
        </div>
        
            <!-- Модальное окно маршрута -->
            <div id="routeModal" class="routemodal">
                <div class="route-modal-content bgprime300" style="border-radius: 16px;">

                    <!-- Close -->
                    <button id="closeModal" class="size_s" style="position: absolute; right:16px; top:16px;" onclick="closeRouteModal()">
                        <img class="theme-icon dark" src="../static/img/icon/close-dark.svg" alt="Закрыть">
                        <img class="theme-icon light" src="../static/img/icon/close-light.svg" alt="Закрыть">
                    </button>


                    

                    <h4 id="routeTitle" class="dark-prime-invert-200 mb8" style="max-width: calc(100% - 32px);"></h4>
                    <p id="routeDifficulty" style="border-radius:8px; display: flex; justify-content: center; max-width: 80px;" class="bgprimeinvert50 dark-prime-100 mb16"></p>
                    

                    <div class="route-stats hstack_important_important gap24 mb16">
                        <span class="hstack_important gap4">
                            <img class="theme-icon light" style="max-width:20px !important; max-height:20px !important; min-width:20px !important; min-height:20px !important;" src="static/img/icon/distance-light.svg">
                            <img class="theme-icon dark" style="max-width:20px !important; max-height:20px !important; min-width:20px !important; min-height:20px !important;" src="static/img/icon/distance-dark.svg">
                            <p class="dark-prime-invert-100" id="totalDistance"></p>
                        </span>
                        
                        <span class="hstack_important gap4">
                            <img class="theme-icon dark" style="max-width:20px !important; max-height:20px !important; min-width:20px !important; min-height:20px !important;" src="static/img/icon/high-light.svg">
                            <img class="theme-icon light" style="max-width:20px !important; max-height:20px !important; min-width:20px !important; min-height:20px !important;" src="static/img/icon/high-dark.svg">
                            <p class="dark-prime-invert-100" id="ascent"></p>
                        </span>

                        <span class="hstack_important gap4">
                            <img class="theme-icon dark" style="max-width:20px !important; max-height:20px !important; min-width:20px !important; min-height:20px !important;" src="static/img/icon/down-light.svg">
                            <img class="theme-icon light" style="max-width:20px !important; max-height:20px !important; min-width:20px !important; min-height:20px !important;" src="static/img/icon/down-dark.svg">
                            <p class="dark-prime-invert-100" id="descent"></p>
                        </span>

                        <!--Time-->
                        <span class="hstack_important gap4">
                            <img class="theme-icon dark" style="max-width:20px !important; max-height:20px !important; min-width:20px !important; min-height:20px !important;" src="static/img/icon/time-light.svg">
                            <img class="theme-icon light" style="max-width:20px !important; max-height:20px !important; min-width:20px !important; min-height:20px !important;" src="static/img/icon/time-dark.svg">
                            <p class="dark-prime-invert-100" id="routeTime"></p>
                        </span>
                    </div>

                    <p class="dark-prime-invert-200 p2 mb16" id="routeDescription"></p>

                    <!-- Контейнер для всех фотографий -->
                    <div id="routePhotosContainer" class="photogrid popup_desktop"></div>

                    <!-- График высоты -->
                    <div id="chartContainer" class="mb16 mt16">
                        <canvas id="elevationChart"></canvas>
                    </div>
                    
                    
                    
                    <!-- Кнопка для скачивания GPX -->
                    <button id="downloadGpxBtn" class="size_m bgprimeinvert25 w100">
                        <p class="dark-prime-invert-200">Скачать GPX</p>
                    </button>

                </div>
            </div>


    

        <div id='map'></div>
    </main>

    <script>
        var cityCoordinates = {{ city.coordinates | tojson }};
        var cityZoom = {{ city.zoom | tojson }};
        var cityName = {{ city.city | tojson }};
        var cityId = {{ city.id | tojson }};
    </script>
    

    <!-- Navigation Script -->
    <script>
        function goToCityDetails() {
            window.location.href = "/{{ city.id }}";
        }
    </script>

    <!-- Mapbox Integration -->
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js"></script>
    <script src="{{ url_for('static', filename='js/routes_map.js') }}"></script>
    <script src="{{ url_for('static', filename='js/imageview.js') }}"></script>
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
    <script src="https://unpkg.com/togeojson@0.16.0/togeojson.js"></script>
    <script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>
    <script src="{{ url_for('static', filename='js/tabs.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/js/elevation_chart.js"></script>

    <script>
            document.getElementById('downloadGpxBtn').addEventListener('click', function () {
            // Получаем GPX-файл (замени URL на реальный путь к файлу)
            const gpxUrl = '/static/routes/sample_route.gpx'; // Предположим, что у нас есть готовый файл

            const link = document.createElement('a');
            link.href = gpxUrl;
            link.download = 'route.gpx'; // Имя файла при скачивании
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        });
    </script>


</body>
</html>
