<footer>
    <!-- Logo -->
    <a href="/">
        <img class="headerlogo" id="dark-desktop" src="{{ url_for('static', filename='img/landing/white-logo.svg') }}" alt="Dark Logo">
        <img class="headerlogo" id="light-desktop" src="{{ url_for('static', filename='img/landing/black-logo.svg') }}" alt="Light Logo">
    </a>

    <div class="footer_grid">
        <div class="w100 column gap12 mt48">
            <p class="p1 dark-prime-invert-50">Подробнее</p>
            <a href=""><p class="dark-prime-invert-300">О проекте</p></a>
            <a href=""><p class="dark-prime-invert-300">Сотрудничество</p></a>
            <a href=""><p class="dark-prime-invert-300">Споттеры</p></a>
            <a href=""><p class="dark-prime-invert-300">Курс</p></a>
        </div>

        <div class="w100 column gap12 mt48">
            <p class="p1 dark-prime-invert-50">Велодорожки</p>
            <a href=""><p class="dark-prime-invert-300">Я нашел ошибку</p></a>
            <a href=""><p class="dark-prime-invert-300">Хочу свой город</p></a>
        </div>

        <div class="w100 column gap12 mt48">
            <p class="p1 dark-prime-invert-50">Маркет</p>
            <a href=""><p class="dark-prime-invert-300">Магазины</p></a>
            <a href=""><p class="dark-prime-invert-300">Хочу свой магазин</p></a>
            <a href=""><p class="dark-prime-invert-300">Поддержка</p></a>

        </div>

        <div class="w100 column gap12 mt48">
            <p class="p1 dark-prime-invert-50">Маршруты</p>
            <a href=""><p class="dark-prime-invert-300">Города</p></a>
            <a href=""><p class="dark-prime-invert-300">Хочу добавить маршрут</p></a>
            <a href=""><p class="dark-prime-invert-300">Хочу свой город</p></a>
        </div>
    </div>

    <span class="aic row gap24 w100 mt48" style="justify-content: center;">
        <a href="/"><p class="p1 dark-prime-invert-50">VELOJOL</p></a>
        <p class="p1 dark-prime-invert-50">2025</p>
    </span>
</footer>