<!--Header-->
<header>
    <span class="headercontent row sb">
        <!-- Logo -->
        <a href="/">
            <img class="headerlogo theme-icon dark" src="{{ url_for('static', filename='img/landing/white-logo.svg') }}" alt="Dark Logo">
            <img class="headerlogo theme-icon light" src="{{ url_for('static', filename='img/landing/black-logo.svg') }}" alt="Light Logo">
        </a>


        <!-- Middle -->
        <span class="hstack gap8 desktop">
            <!-- Дорожки -->
            <div class="menu-item">
                <a href="/cities" class="button ghost">
                    <p class="dark-prime-invert-100">Дорожки</p>
                </a>
                <div class="submenu bgprime300">
                    <div class="submenu-grid gap24">


                        <!--KZ-->
                        <span class="column gap20">
                            <h6 class="bold dark-prime-invert-100">
                                Казахстан
                            </h6>

                            <ul class="column gap16">
                                <li>
                                    <a href="/almaty"><p class="dark-prime-invert-200">Алматы</p></a>
                                </li>
                                <li>
                                    <a href="/astana"><p class="dark-prime-invert-200">Астана</p></a>
                                </li>
                                <li>
                                    <a href="/shymkent"><p class="dark-prime-invert-200">Шымкент</p></a>
                                </li>
                                <li>
                                    <a href="/pavlodar"><p class="dark-prime-invert-200">Павлодар</p></a>
                                </li>
                            </ul>
                        </span>


                        <!--RF-->
                        <span class="column gap20">
                            <h6 class="bold dark-prime-invert-100">
                                Россия
                            </h6>

                            <ul class="column gap16">
                                <li>
                                    <a href="/moscow"><p class="dark-prime-invert-200">Москва</p></a>
                                </li>
                                <li>
                                    <a href="/saintpetersburg"><p class="dark-prime-invert-200">Санкт-петербург</p></a>
                                </li>
                                <li>
                                    <a href="/kazan"><p class="dark-prime-invert-200">Казань</p></a>
                                </li>
                                <li>
                                    <a href="/ufa"><p class="dark-prime-invert-200">Уфа</p></a>
                                </li>
                                <li>
                                    <a href="/tumen"><p class="dark-prime-invert-200">Тюмень</p></a>
                                </li>
                                <li>
                                    <a href="/almetevsk"><p class="dark-prime-invert-200">Альметьевск</p></a>
                                </li>
                            </ul>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Маршруты -->
            <div class="menu-item">
                <a href="/almaty_routes" class="button ghost">
                    <p class="dark-prime-invert-100">Маршруты</p>
                </a>
                <div class="submenu bgprime300">
                    <div class="submenu-grid gap24">


                        <!--KZ-->
                        <span class="column gap20">
                            <h6 class="bold dark-prime-invert-100">
                                Казахстан
                            </h6>

                            <ul class="column gap16">
                                <li>
                                    <a href="/almaty_routes"><p class="dark-prime-invert-200">Алматы</p></a>
                                </li>
                            </ul>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Маркет -->
            <a href="/market" class="button ghost">
                <p class="dark-prime-invert-100">Маркет</p>
            </a>
        </span>

        <!-- Right -->
        <span id="headingright" class="desktop gap8 row">
            <a href="/about" class="button ghost">
                <p class="dark-prime-invert-100">О проекте</p>
            </a>

            <!-- Theme toggle button -->
            <button class="button ghost" id="theme-toggle-desktop" style="width: 134px;">
                <span class="theme-switcher light row gap8 aic">
                    <img src="{{ url_for('static', filename='img/icon/sun.svg') }}" alt="sun">
                    <p class="dark-prime-invert-100">Светлая</p>
                </span>
                <span class="theme-switcher dark row gap8 aic">
                    <img src="{{ url_for('static', filename='img/icon/moon.svg') }}" alt="moon">
                    <p class="dark-prime-invert-100">Темная</p>
                </span>
                
            </button>
        </span>
    </span>
</header>


 
<!-- Popup Menu -->
<div id="popup-menu" class="popup-menu bgprime400 column">
    <button id="close-popup" class="close-button">Закрыть</button>

    <!--list-->
        <ul class="column gap8">
            <li>
                <a href="/about" class="cell_size_s">
                  <p class="dark-prime-invert-100">О проекте</p>
                  <img class="theme-icon light" src="{{ url_for('static', filename='img/icon/chevron_right-dark.svg') }}" alt="chevron">
                  <img class="theme-icon dark" src="{{ url_for('static', filename='img/icon/chevron_right-light.svg') }}" alt="chevron">
                </a>
              </li>
              <li>
                <a href="/cities" class="cell_size_s">
                  <p class="dark-prime-invert-100">Велодорожки</p>
                  <img class="theme-icon light" src="{{ url_for('static', filename='img/icon/chevron_right-dark.svg') }}" alt="chevron">
                  <img class="theme-icon dark" src="{{ url_for('static', filename='img/icon/chevron_right-light.svg') }}" alt="chevron">
                </a>
              </li>
              <li>
                <a href="/routes" class="cell_size_s">
                  <p class="dark-prime-invert-100">Маршруты</p>
                  <img class="theme-icon light" src="{{ url_for('static', filename='img/icon/chevron_right-dark.svg') }}" alt="chevron">
                  <img class="theme-icon dark" src="{{ url_for('static', filename='img/icon/chevron-down-light.svg') }}" alt="chevron">
                </a>
              </li>
              <li>
                <a href="/market" class="cell_size_s">
                  <p class="dark-prime-invert-100">Маркет</p>
                  <img class="theme-icon light" src="{{ url_for('static', filename='img/icon/chevron_right-dark.svg') }}" alt="chevron">
                  <img class="theme-icon dark" src="{{ url_for('static', filename='img/icon/chevron_right-light.svg') }}" alt="chevron">
                </a>
              </li>
                
        </ul>
      
        <span style="width:100%; height:50%"></span>

        <!--Theme switch-->
        <div class="row w100 bgprime400 theme-tab">
            <button id="mobile-theme-light" class="button gap8 w100">
                <img class="theme-icon dark" src="{{ url_for('static', filename='img/icon/sun-light.svg') }}" alt="sun">
                <img class="theme-icon light" src="{{ url_for('static', filename='img/icon/sun-dark.svg') }}" alt="sun">
                <p class="dark-prime-invert-200">Светлая</p>
            </button>
            
            <button id="mobile-theme-dark" class="button gap8 w100">
                <img class="theme-icon dark" src="{{ url_for('static', filename='img/icon/moon-light.svg') }}" alt="moon">
                <img class="theme-icon light" src="{{ url_for('static', filename='img/icon/moon-dark.svg') }}" alt="moon">
                <p class="dark-prime-invert-200">Темная</p>
            </button>
        </div>
        
        
      
        <!--Social links-->
        <div class="row gap8 mt24">
          <a href="https://t.me/velojol" target="_blank" style="width: 48px; height: 48px;">
            <img class="theme-icon light" style="width: 100%; height: 100%;" src="{{ url_for('static', filename='img/icon/telegram_light.svg') }}" alt="telegram">
            <img class="theme-icon dark" style="width: 100%; height: 100%;" src="{{ url_for('static', filename='img/icon/telegram_dark.svg') }}" alt="telegram">
          </a>

          <a href="#" target="_blank" style="width: 48px; height: 48px;">
            <img class="theme-icon light" style="width: 100%; height: 100%;" src="{{ url_for('static', filename='img/icon/youtube_light.svg') }}" alt="youtube">
            <img class="theme-icon dark" style="width: 100%; height: 100%;" src="{{ url_for('static', filename='img/icon/youtube_dark.svg') }}" alt="youtube">
          </a>
        </div>
      </div>
      
</div>



