<!DOCTYPE html>
<html lang="ru">
<head>
    <title>VELOJOL</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Подробная карта велодорожек и велополос города">
    <meta name="keywords" content="Карта, велодорожки, город, велодорожка, велополоса, велосипед">
    <meta name="author" content="Velojol">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="language" content="Russian">
    
    <!-- Фавиконы и мета-данные -->
    <link rel="apple-touch-icon" sizes="180x180" href="static/img/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/img/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/img/fav/favicon-16x16.png">
    <link rel="mask-icon" href="static/img/fav/safari-pinned-tab.svg" color="#121212">
    <meta name="msapplication-TileColor" content="#121212">
    <meta name="theme-color" content="#121212">
    
    <!-- Open Graph мета-данные -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://velojol.kz">
    <meta property="og:title" content="VELOJOL">
    <meta property="og:description" content="Подробная карта велодорожек и велополос города">
    <meta property="og:image" content="static/img/landing/meta.jpg">

    <!-- Подключение стилей -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/typo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cities.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flex.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/banner.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    

    <script>
        (function() {
          const savedTheme = localStorage.getItem('theme') || 'dark'; // По умолчанию - темная
          document.documentElement.setAttribute('data-theme', savedTheme);
        })();
      </script>
      
    
    <!-- Подключение тем -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">


</head>
<body>

    <!-- loader -->
    {% include 'loader.html' %}



    <!-- header -->
    {% include 'header.html' %} 

    <!--Cover-->
    <div class="cover" id="cover">
        
        <a class="cover-banner" href="/velojol2">
            <img class="theme-icon light cover-banner desktop" src="static/img/landing/cover-desktop-light.jpg" alt="Cover image">
            <img class="theme-icon light cover-banner mobile" src="static/img/landing/cover-mobile-light.jpg" alt="Cover image">
            <img class="theme-icon dark cover-banner desktop" src="static/img/landing/cover-desktop-dark.jpg" alt="Cover image">
            <img class="theme-icon dark cover-banner mobile" src="static/img/landing/cover-mobile-dark.jpg" alt="Cover image">
        </a>
        
        <!--Service-->
        <div class="service">
            <span class="bgprime300 row gap48">

                <a href="/cities">
                    <img src="static/img/landing/service_img1.png" alt="Phone icon">
                    <h6 class="dark-prime-invert-200 center">Города</h6>

                </a>

                <a href="/routes">
                    <img src="static/img/landing/service_img2.png" alt="Phone icon">
                    <h6 class="dark-prime-invert-200 center">Маршруты</h6>

                </a>

                <a href="/course">
                    <img src="static/img/landing/service_img3.png" alt="Phone icon">
                    <h6 class="dark-prime-invert-200 center">Курс</h6>

                </a>

                <a href="/market">
                    <img src="static/img/landing/service_img4.png" alt="Phone icon">
                    <h6 class="dark-prime-invert-200 center">Маркет</h6>
                </a>

            </span>
        </div>
        
    </div>

    <main>

        <!--Block-Cities-->
        <div class="block">

            <!--BlockHeading-->
            <div class="blockheading column w100 gap8">
                <h4>Показываем велодорожки в городах</h4>
                <p>С описанием и фото</p>
            </div>
            
            <span class="heading row sb mb16 aic">
                <h5 class="dark-prime-invert-200">Велодорожки в городах</h5>
                <a class="button ghost" href="/cities">
                    <p class="p2 dark-prime-invert-200">Все города</p>
                    <img class="theme-icon light" src="static/img/icon/arrow-right-black.svg">
                    <img class="theme-icon dark" src="static/img/icon/arrow-right-white.svg">
                </a>
                
            </span>


            <span class="row gap16 w100">
                <!-- Тут список городов -->
                <span class="row gap16 w100">
                    <ul class="landgrid">
                        {% for city in cities %}
                            <li>
                                <a class="citycard" href="{{ url_for('city_details', city_id=city['id']) }}">
                                    <img class="citycover" src="{{ url_for('static', filename='img/city/' + city.cover) }}" alt="Cover of {{ city.city }}">
                                    <span class="badge bgstate500"><p class="p3 dark-prime-200">{{ city.rating }}</p></span>
                                    <img class="citycoat" src="{{ url_for('static', filename='img/city/' + city.coat) }}" alt="Coat of {{ city.city }}">
                                    <span class="mb16 column gap4 citycardbody">
                                        <h6 class="dark-prime-invert-100">{{ city.city }}</h6>
                                        <span class="row gap8">
                                            <p class="dark-prime-invert-50">{{ city.distance }} км</p>
                                            <p class="dark-prime-invert-50">•</p>
                                            <p class="dark-prime-invert-50">{{ city.country }}</p>
                                        </span>
                                    </span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </span>
                

                <!-- Баннер -->
                <div class="landbanner">

                    
                    <span style="position: absolute; top:16px; left: 16px; z-index: 1;">
                        <h4 class="staticwhite100">Показываем велодорожки в городах</h4>
                        <p class="staticwhite100 mt16">С описанием и фото</p>
                    </span>

                    <video autoplay muted loop playsinline class="video-background">
                        <source src="/static/img/landing/bike-lanes.mp4" type="video/mp4">
                        Ваш браузер не поддерживает видео.
                    </video>
                </div>
            </span>

        </div>

        <a href="/almaty_routes" class="route_banner"></a>

        <!--Block Bazar desktop-->
        <div class="block w100 bgmarket10 row gap24 desktop">

            <!--Leftside-->
            <div class="sb column row " style="max-width: 290px;">
                <span class="column gap8 w100">
                <h2 class="market100">Маркет</h2>
                <h6 class="market100">Лучшие веломагазины<br>для новичков и профи</h6>
                </span>

                <a class="row gap4 button bgmarket100" href="/market">
                    <p class="p2 staticwhite100">Все магазины</p>
                    <img src="static/img/icon/arrow-right-white.svg">
                </a>
            </div>


            <!--RightSide-->
            <div class="categories w100">
                <a href="/market?category=велосипеды" class="categorycard">
                    <h6 class="dark-prime-invert-100">Велосипеды</h6>
                    <img src="static/img/category/bicycle.png">
                </a>

                <a href="/market?category=запчасти" class="categorycard">
                    <h6 class="dark-prime-invert-100">Запчасти</h6>
                    <img src="static/img/category/tool.png">
                </a>

                <a href="/market?category=одежда" class="categorycard">
                    <h6 class="dark-prime-invert-100">Одежда</h6>
                    <img src="static/img/category/clothe.png">
                </a>

                <a href="/market?category=аксессуары" class="categorycard">
                    <h6 class="dark-prime-invert-100">Аксессуары</h6>
                    <img src="static/img/category/acsess.png">
                </a>

                <a href="/market?category=еда" class="categorycard">
                    <h6 class="dark-prime-invert-100">Еда</h6>
                    <img src="static/img/category/food.png">
                </a>

                <a href="/market?category=ремонт" class="categorycard">
                    <h6 class="dark-prime-invert-100">Ремонт</h6>
                    <img src="static/img/category/repair.png">
                </a>

                <a href="/market?category=аренда" class="categorycard">
                    <h6 class="dark-prime-invert-100">Аренда</h6>
                    <img src="static/img/category/rent.png  ">
                </a>
            </div>

              
                

        </div>
        
        <!--Block bazar mobile-->
        <div class="w100 mb24 bgmarket10 column gap32 mobile" style="border-radius: 16px; padding-top: 16px; padding-bottom: 16px;">

            <!--TOP-->
            <div class="gap16 w100 column heading" style="padding-top: 0px !important;">
                <span class="column gap8 w100">
                <h2 class="market100">Маркет</h2>
                <p class="market100">Лучшие веломагазины для новичков и профи</p>
                </span>

                <a class="row gap4 button bgmarket100" href="/market">
                    <p class="p2 staticwhite100">Все магазины</p>
                    <img src="static/img/icon/arrow-right-white.svg">
                </a>
            </div>

            <!--Grid-mobile-->
            <div class="categories w100">
                <a href="/market?category=велосипеды" class="categorycard">
                    <h6 class="dark-prime-invert-100">Велосипеды</h6>
                    <img src="static/img/category/bicycle.png">
                </a>

                <a href="/market?category=запчасти" class="categorycard">
                    <h6 class="dark-prime-invert-100">Запчасти</h6>
                    <img src="static/img/category/tool.png">
                </a>

                <a href="/market?category=одежда" class="categorycard">
                    <h6 class="dark-prime-invert-100">Одежда</h6>
                    <img src="static/img/category/clothe.png">
                </a>

                <a href="/market?category=аксессуары" class="categorycard">
                    <h6 class="dark-prime-invert-100">Аксессуары</h6>
                    <img src="static/img/category/acsess.png">
                </a>

                <a href="/market?category=еда" class="categorycard">
                    <h6 class="dark-prime-invert-100">Еда</h6>
                    <img src="static/img/category/food.png">
                </a>

                <a href="/market?category=ремонт" class="categorycard">
                    <h6 class="dark-prime-invert-100">Ремонт</h6>
                    <img src="static/img/category/repair.png">
                </a>

                <a href="/market?category=аренда" class="categorycard">
                    <h6 class="dark-prime-invert-100">Аренда</h6>
                    <img src="static/img/category/rent.png  ">
                </a>
            </div>

        </div>

        <!--Banners-->
        <div class="w100 row gap16 banners">
            <!--Banner-->
            
            <a class="w100 banner telegram_banner" href="">
                <h3 class="staticwhite100">VELOJOL в Telegram</h3>
            </a>

            <a class="s100 banner bgprime300" href="">
                <h3 class="dark-prime-invert-100">Нам нужны<br>споттеры</h3>

                <video autoplay muted loop playsinline class="video-background-spotter theme-icon light">
                    <source src="/static/img/landing/cat-white.mp4" type="video/mp4">
                    Ваш браузер не поддерживает видео.
                </video>

                <video autoplay muted loop playsinline class="video-background-spotter theme-icon dark">
                    <source src="/static/img/landing/cat-black.mp4" type="video/mp4">
                    Ваш браузер не поддерживает видео.
                </video>
            </a>
        </div>

    </main>

    <!-- Tapbar -->
    <div class="tapbar bgprime300">
        <a href="#cover" class="tapbar__item active" id="tab-index">
            <img src="static/img/icon/home_inactive_dark.svg" class="icon icon-inactive theme-icon light" alt="home">
            <img src="static/img/icon/home_inactive_light.svg" class="icon icon-inactive theme-icon dark" alt="home">
            <img src="static/img/icon/home_active.svg" class="icon icon-active">
            <p class="p3 dark-prime-invert-300">Главная</p>
        </a>    
        <a href="/routes" class="tapbar__item" id="tab-routes">
            <img src="static/img/icon/routes_inactive_dark.svg" alt="Routes" class="icon icon-inactive theme-icon light">
            <img src="static/img/icon/routes_inactive_light.svg" alt="Routes" class="icon icon-inactive theme-icon dark">
            <img src="static/img/icon/routes_active.svg" alt="Routes" class="icon icon-active">
        <p class="p3 dark-prime-invert-300">Маршруты</p>
        </a>
        <a href="/market" class="tapbar__item" id="tab-bazar">
            <img src="static/img/icon/market_inactive_dark.svg" alt="market" class="icon icon-inactive theme-icon light">
            <img src="static/img/icon/market_inactive_light.svg" alt="market" class="icon icon-inactive theme-icon dark">
            <img src="static/img/icon/market_active.svg" alt="Home" class="icon icon-active">
        <p class="p3 dark-prime-invert-300">Маркет</p>
        </a>
        <button class="tapbar__item" id="tab-menu" onclick="openMenuPopup()">
            <img src="static/img/icon/menu_inactive_dark.svg" alt="Menu" class="icon icon-inactive theme-icon light">
            <img src="static/img/icon/menu_inactive_light.svg" alt="Menu" class="icon icon-inactive theme-icon dark">
            <img src="static/img/icon/menu_active.svg" alt="Home" class="icon icon-active">
        <p class="p3 dark-prime-invert-300">Меню</p>
        </button>
    </div>
    <!-- footer -->
    {% include 'footer.html' %}

    <!--Scripts-->
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>


</body>
</html>
