<!DOCTYPE html>
<html lang="ru">
<head>
    <title>VELOJOL</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Подробная карта велодорожек и велополос города">
    <meta name="keywords" content="Карта, велодорожки, город, велодорожка, велополоса, велосипед">
    <meta name="author" content="Velojol">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="language" content="Russian">
    
    <!-- Фавиконы и мета-данные -->
    <link rel="apple-touch-icon" sizes="180x180" href="static/images/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/fav/favicon-16x16.png">
    <link rel="mask-icon" href="static/images/fav/safari-pinned-tab.svg" color="#121212">
    <meta name="msapplication-TileColor" content="#121212">
    <meta name="theme-color" content="#121212">
    
    <!-- Open Graph мета-данные -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://velojol.kz">
    <meta property="og:title" content="VELOJOL">
    <meta property="og:description" content="Подробная карта велодорожек и велополос города">
    <meta property="og:image" content="static/images/landing/meta.jpg">

    <!-- Подключение стилей -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/typo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cities.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flex.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/banner.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/market.css') }}">
    

    <script>
        (function() {
          const savedTheme = localStorage.getItem('theme') || 'dark';
          document.documentElement.setAttribute('data-theme', savedTheme);
        })();
      </script>
      
    <!-- Подключение тем -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">


</head>
    <!-- header -->
    {% include 'header.html' %} 
    <body class="bgprime400">
        <main class="pt100">
            
            <!--Banners-->
            <div class="banners mb32" id="banners-container">
                <!-- Баннеры будут загружены динамически -->
            </div>

            <!--Main-->
            <div class="w100 hstack gap32" style="align-items: flex-start;">

                <!--Category-->
                <div class="island bgprime100 w100 market-filter">
                    <h5 class="dark-prime-invert-100 island_heading bold">
                        Категории
                    </h5>
                    <ul id="category-list">
                        <li><button class="category-button" data-category="all">
                            <h6>Все</h6>
                        </button></li>

                        <li><button class="category-button" data-category="велосипеды">
                            <img src="{{ url_for('static', filename='img/market/bicycle.jpg') }}" alt="category">
                            <h6>Велосипеды</h6>
                        </button></li>

                        <li><button class="category-button" data-category="запчасти">
                            <img src="{{ url_for('static', filename='img/market/tool.jpg') }}" alt="category">
                            <h6>Запчасти</h6>
                        </button></li>

                        <li><button class="category-button" data-category="одежда">
                            <img src="{{ url_for('static', filename='img/market/clothe.jpg') }}" alt="category">
                            <h6>Одежда</h6>
                        </button></li>

                        <li><button class="category-button" data-category="аксессуары">
                            <img src="{{ url_for('static', filename='img/market/acsess.jpg') }}" alt="category">
                            <h6>аксессуары</h6>
                        </button></li>

                        <li><button class="category-button" data-category="еда">
                            <img src="{{ url_for('static', filename='img/market/food.jpg') }}" alt="category">
                            <h6>Еда</h6>
                        </button></li>

                        <li><button class="category-button" data-category="ремонт">
                            <img src="{{ url_for('static', filename='img/market/food.jpg') }}" alt="category">
                            <h6>Ремонт</h6>
                        </button></li>

                        <li><button class="category-button" data-category="аренда">
                            <img src="{{ url_for('static', filename='img/market/food.jpg') }}" alt="category">
                            <h6>Аренда</h6>
                        </button></li>
                        
                    </ul>
                </div>


                <!-- Добавляем модальное окно -->
                <div id="storeModal" class="modal-store">
                    <div class="modal-content">

                        <!--Close button-->
                        <span class="close button size_s">
                            <img src="../static/img/icon/close.svg" alt="Close">
                        </span>

                        <div class="modal-header">
                            <img id="modal-logo" src="" alt="">
                            
                            <div class="modal-cover" id="modal-cover"></div>
                        </div>
                        <div class="modal-body">

                            <!--Категории-->
                            <div id="modal-category" class="mb8"></div>

                            <!--Title-->
                            <h5 class="dark-prime-invert-200 bold" id="modal-name"></h5>
                            
                            <!--Desc-->
                            <p class="mt8 dark-prime-invert-400" id="modal-description" style="text-align: left;"></p>
                            
                            <!-- Адрес -->
                            <span class="mt16 mb16 bgprime10 row gap12 aic" style="padding: 12px; border-radius: 16px;">
                                <img src="../static/img/icon/address.svg" alt="location">
                                <p style="text-align: left;"><a class="dark-prime-invert-100" style="text-align: left;" id="modal-address" href="#" target="_blank"></a></p>
                            </span>

                            <!-- Доставка -->
                            <div id="modal-delivery" class="delivery-label hidden">
                                <img src="{{ url_for('static', filename='img/icon/truck.svg') }}" alt="delivery">
                                <p class="dark-prime-100">Есть доставка</p>
                            </div>

                        

                            <!--Social links-->
                            <div class="w100 storecard-links mt24 grid gap8">
                                <!--Instagram-->
                                <a id="modal-instagram" href="#" target="_blank" class="hidden button size_m bgprime200 gap8">
                                    <img src="../static/img/icon/instagram.svg" alt="instagram">
                                    <p class="p2 dark-prime-invert-300">Instagram</p>
                                </a>

                                <!--Telegram-->
                                <a id="modal-telegram" href="#" target="_blank" class="hidden button size_m bgprime200 gap8">
                                    <img src="../static/img/icon/telegram.svg" alt="telegram">
                                    <p class="p2 dark-prime-invert-300">Telegram</p>
                                </a>

                                <!--VK-->
                                <a id="modal-vk" href="#" target="_blank" class="hidden button size_m bgprime200 gap8">
                                    <img src="../static/img/icon/vk.svg" alt="vk">
                                    <p class="p2 dark-prime-invert-300">VK</p>
                                </a>

                                <!--Web-->
                                <a id="modal-web" href="#" target="_blank" class="hidden button size_m bgprime200 gap8">
                                    <img src="../static/img/icon/web.svg" alt="web">
                                    <p class="p2 dark-prime-invert-300">Сайт</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                

                <!-- Список магазинов -->
                <div class="w100 market-grid">
                    {% for store in stores %}
                    <div class="storecard" 
                            data-store='{{ store | tojson | safe }}' 
                            data-category="{{ store.catergory }}"
                            onclick="openModal(this)">
                        <div class="storecard-header" style="background-image: url('/static/img/market/{{ store.bg }}.jpg'); background-size: cover; background-position: center center;">
                            <img class="storecard-logo" src="/static/img/market/{{ store.logo }}.jpg" alt="{{ store.name }}">
                        </div>
                        <div class="storecard-body">
                            <h6 class="dark-prime-invert-100 bold" style="margin-bottom: 4px;">{{ store.name }}</h6>
                            <p class="p2 dark-prime-invert-50 mt8">{{ store.description }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                
            </div>
        </main>
    </body>


    <!-- Tapbar -->
    <div class="tapbar bgprime300">
        <a href="/" class="tapbar__item" id="tab-index">
            <img src="static/img/tapbar/menu_inactive.svg" class="icon icon-inactive">
            <img src="static/img/tapbar/menu_active.svg" class="icon icon-active">
            <p class="p3 dark-prime-invert-300">Главная</p>
        </a>    
        <a href="/routes" class="tapbar__item" id="tab-routes">
            <img src="static/img/tapbar/menu_inactive.svg" alt="Home" class="icon icon-inactive">
            <img src="static/img/tapbar/menu_active.svg" alt="Home" class="icon icon-active">
        <p class="p3 dark-prime-invert-300">Маршруты</p>
        </a>
        <a href="/market" class="tapbar__item active" id="tab-bazar">
            <img src="static/img/tapbar/menu_inactive.svg" alt="Home" class="icon icon-inactive">
            <img src="static/img/tapbar/menu_active.svg" alt="Home" class="icon icon-active">
        <p class="p3 dark-prime-invert-300">Маркет</p>
        </a>
        <button class="tapbar__item" id="tab-menu" onclick="openMenuPopup()">
            <img src="static/img/tapbar/menu_inactive.svg" alt="Home" class="icon icon-inactive">
            <img src="static/img/tapbar/menu_active.svg" alt="Home" class="icon icon-active">
        <p class="p3 dark-prime-invert-300">Меню</p>
        </button>
    </div>

    <!-- footer -->
    {% include 'footer.html' %}

    <!--Scripts-->
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
    <script src="{{ url_for('static', filename='js/market.js') }}"></script>


    <!--Banners script-->
    <script>
            document.addEventListener("DOMContentLoaded", () => {
            fetch('/static/data/banners.json')
        .then(response => response.json())
        .then(data => {
        const container = document.getElementById('banners-container');

        data.forEach(banner => {
            const link = document.createElement('a');
            link.href = banner.link;
            link.target = "_blank";
            link.className = "marketbanner";

            const img = document.createElement('img');
            img.src = banner.image;
            img.alt = banner.alt;

            link.appendChild(img);
            container.appendChild(link);
        });
        })
        .catch(error => console.error('Error loading banners:', error));
    });
    </script>

</html>
