<!DOCTYPE html>
<html lang="ru">
<head>
    <title>VELOJOL 2.0</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Подробная карта велодорожек и велополос города">
    <meta name="keywords" content="Карта, велодорожки, город, велодорожка, велополоса, велосипед">
    <meta name="author" content="Velojol">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="language" content="Russian">
    
    <!-- Фавиконы и мета-данные -->
    <link rel="apple-touch-icon" sizes="180x180" href="static/img/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/img/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/img/fav/favicon-16x16.png">
    <link rel="mask-icon" href="static/img/fav/safari-pinned-tab.svg" color="#121212">
    <meta name="msapplication-TileColor" content="#121212">
    <meta name="theme-color" content="#121212">
    
    <!-- Open Graph мета-данные -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://velojol.kz">
    <meta property="og:title" content="VELOJOL">
    <meta property="og:description" content="Подробная карта велодорожек и велополос города">
    <meta property="og:image" content="static/img/landing/meta.jpg">

    <!-- Подключение стилей -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/typo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cities.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flex.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/banner.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
    

    <script>
        (function() {
          const savedTheme = localStorage.getItem('theme') || 'dark'; // По умолчанию - темная
          document.documentElement.setAttribute('data-theme', savedTheme);
        })();
      </script>
      
    
    <!-- Подключение тем -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">


</head>

 <body style="background-color: #F2F2F2;">
    
    <!-- loader -->
    {% include 'loader.html' %}





    
    <main style="
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 700px;
        margin-top: 100px;
        margin-bottom: 100px;

        @media screen and (max-width: 720px) {
            padding-left: 16px;
            padding-right: 16px;
        }
    ">

        <div style="">
            <img src="static/img/velojol2/text.svg" alt="Velojol 2.0. Теперь не только карта" style="width: 100%; height: auto;">
            <img src="static/img/velojol2/cover.png" alt="Velojol 2.0. Теперь не только карта" style="width: 100%; height: auto; margin-top: 16px;">
        </div>
 

        <span style="
            display: flex;
            flex-direction: column;
            gap: 8px;
        ">
            <a href="/routes">
                <img src="static/img/velojol2/card1.jpg" style="width: 100%; height: auto; border-radius: 16px;" alt="Velojol 2.0. Теперь не только карта" style="width: 100%; height: auto;">
            </a>

            <a href="/market">
                <img src="static/img/velojol2/card2.jpg" style="width: 100%; height: auto; border-radius: 16px;" alt="Velojol 2.0. Теперь не только карта" style="width: 100%; height: auto;">
            </a>

            <a href="/cities">
                <img src="static/img/velojol2/card3.jpg" style="width: 100%; height: auto; border-radius: 16px;" alt="Velojol 2.0. Теперь не только карта" style="width: 100%; height: auto;">
            </a>

        </span>

        <h4 style="color: #333333; margin-top: 174px; margin-bottom: 174px;">
            Velojol — проект про городскую веложизнь. Мы показываем, где уже есть велоинфраструктура, и вдохновляем на развитие новой
        </h4>

        <a href="/">
            <img src="static/img/velojol2/logo.svg" alt="Velojol" style="width: 100%; height: auto;">
        </a>
    </main>

    <!-- Tapbar -->
    <div class="tapbar bgprime300">
        <a href="#cover" class="tapbar__item active" id="tab-index">
            <img src="static/img/icon/home_inactive_dark.svg" class="icon icon-inactive theme-icon light" alt="home">
            <img src="static/img/icon/home_inactive_light.svg" class="icon icon-inactive theme-icon dark" alt="home">
            <img src="static/img/icon/home_active.svg" class="icon icon-active">
            <p class="p3 dark-prime-invert-300">Главная</p>
        </a>    
        <a href="/routes" class="tapbar__item" id="tab-routes">
            <img src="static/img/icon/routes_inactive_dark.svg" alt="Routes" class="icon icon-inactive theme-icon light">
            <img src="static/img/icon/routes_inactive_light.svg" alt="Routes" class="icon icon-inactive theme-icon dark">
            <img src="static/img/icon/routes_active.svg" alt="Routes" class="icon icon-active">
        <p class="p3 dark-prime-invert-300">Маршруты</p>
        </a>
        <a href="/market" class="tapbar__item" id="tab-bazar">
            <img src="static/img/icon/market_inactive_dark.svg" alt="market" class="icon icon-inactive theme-icon light">
            <img src="static/img/icon/market_inactive_light.svg" alt="market" class="icon icon-inactive theme-icon dark">
            <img src="static/img/icon/market_active.svg" alt="Home" class="icon icon-active">
        <p class="p3 dark-prime-invert-300">Маркет</p>
        </a>
        <button class="tapbar__item" id="tab-menu" onclick="openMenuPopup()">
            <img src="static/img/icon/menu_inactive_dark.svg" alt="Menu" class="icon icon-inactive theme-icon light">
            <img src="static/img/icon/menu_inactive_light.svg" alt="Menu" class="icon icon-inactive theme-icon dark">
            <img src="static/img/icon/menu_active.svg" alt="Home" class="icon icon-active">
        <p class="p3 dark-prime-invert-300">Меню</p>
        </button>
    </div>


    <!--Scripts-->
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
 </body>

</html>